In [78]:
import pandas as pd
# pd.concat([, pd.read_csv('Divvy_Trips_2018_Q2.csv'), pd.read_csv('Divvy_Trips_2018_Q3.csv'), pd.read_csv('Divvy_Trips_2018_Q4.csv')], ignore_index=True)
df1 = pd.read_csv('Divvy_Trips_2018_Q1.csv')

In [79]:
df1

,01 - Rental Details Rental ID,01 - Rental Details Local Start Time,01 - Rental Details Local End Time,01 - Rental Details Bike ID,01 - Rental Details Duration In Seconds Uncapped,03 - Rental Start Station ID,03 - Rental Start Station Name,02 - Rental End Station ID,02 - Rental End Station Name,User Type,Member Gender,05 - Member Details Member Birthday Year
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:23,3304,323.0,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988.0
1,17536703,2018-01-01 00:41:35,2018-01-01 00:47:52,5367,377.0,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Male,1984.0
2,17536704,2018-01-01 00:44:46,2018-01-01 01:33:10,4599,"2,904.0",98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Male,1989.0
3,17536705,2018-01-01 00:53:10,2018-01-01 01:05:37,2302,747.0,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Male,1983.0
4,17536706,2018-01-01 00:53:37,2018-01-01 00:56:40,3696,183.0,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Male,1989.0
...,...,...,...,...,...,...,...,...,...,...,...,...
387140,18000522,2018-03-31 23:46:34,2018-04-01 00:05:24,1935,"1,130.0",158,Milwaukee Ave & Wabansia Ave,260,Kedzie Ave & Milwaukee Ave,Subscriber,Male,1982.0
387141,18000523,2018-03-31 23:47:43,2018-03-31 23:52:05,5852,262.0,299,Halsted St & Roscoe St,229,Southport Ave & Roscoe St,Subscriber,Male,1989.0
387142,18000524,2018-03-31 23:50:18,2018-03-31 23:57:38,4414,440.0,327,Sheffield Ave & Webster Ave,226,Racine Ave & Belmont Ave,Subscriber,Male,1991.0
387143,18000525,2018-03-31 23:52:26,2018-04-01 00:07:13,6448,887.0,265,Cottage Grove Ave & Oakwood Blvd,426,Ellis Ave & 60th St,Subscriber,Male,1991.0
387144,18000526,2018-03-31 23:53:38,2018-04-01 00:03:08,2769,570.0,485,Sawyer Ave & Irving Park Rd,475,Washtenaw Ave & Lawrence Ave,Subscriber,Male,1991.0

In [80]:
df1.columns

Index(['01 - Rental Details Rental ID', '01 - Rental Details Local Start Time',
       '01 - Rental Details Local End Time', '01 - Rental Details Bike ID',
       '01 - Rental Details Duration In Seconds Uncapped',
       '03 - Rental Start Station ID', '03 - Rental Start Station Name',
       '02 - Rental End Station ID', '02 - Rental End Station Name',
       'User Type', 'Member Gender',
       '05 - Member Details Member Birthday Year'],
      dtype='object')

In [81]:
df1 = df1.rename(columns = {'01 - Rental Details Rental ID': 'trip_id', '01 - Rental Details Local Start Time' : 'start_time', '01 - Rental Details Local End Time' : 'end_time','01 - Rental Details Bike ID' : 'bikeid', '01 - Rental Details Duration In Seconds Uncapped' : 'tripduration', '03 - Rental Start Station ID' : 'from_station_id','01 - Rental Details Bike ID' : 'bikeid', '01 - Rental Details Duration In Seconds Uncapped' : 'tripduration', '03 - Rental Start Station ID' : 'from_station_id','03 - Rental Start Station Name' : 'from_station_name','02 - Rental End Station ID':'to_station_id','02 - Rental End Station Name':'to_station_name','User Type' : 'usertype','Member Gender':'gender','05 - Member Details Member Birthday Year':'birthyear'})

In [82]:
df1

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:23,3304,323.0,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988.0
1,17536703,2018-01-01 00:41:35,2018-01-01 00:47:52,5367,377.0,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Male,1984.0
2,17536704,2018-01-01 00:44:46,2018-01-01 01:33:10,4599,"2,904.0",98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Male,1989.0
3,17536705,2018-01-01 00:53:10,2018-01-01 01:05:37,2302,747.0,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Male,1983.0
4,17536706,2018-01-01 00:53:37,2018-01-01 00:56:40,3696,183.0,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Male,1989.0
...,...,...,...,...,...,...,...,...,...,...,...,...
387140,18000522,2018-03-31 23:46:34,2018-04-01 00:05:24,1935,"1,130.0",158,Milwaukee Ave & Wabansia Ave,260,Kedzie Ave & Milwaukee Ave,Subscriber,Male,1982.0
387141,18000523,2018-03-31 23:47:43,2018-03-31 23:52:05,5852,262.0,299,Halsted St & Roscoe St,229,Southport Ave & Roscoe St,Subscriber,Male,1989.0
387142,18000524,2018-03-31 23:50:18,2018-03-31 23:57:38,4414,440.0,327,Sheffield Ave & Webster Ave,226,Racine Ave & Belmont Ave,Subscriber,Male,1991.0
387143,18000525,2018-03-31 23:52:26,2018-04-01 00:07:13,6448,887.0,265,Cottage Grove Ave & Oakwood Blvd,426,Ellis Ave & 60th St,Subscriber,Male,1991.0
387144,18000526,2018-03-31 23:53:38,2018-04-01 00:03:08,2769,570.0,485,Sawyer Ave & Irving Park Rd,475,Washtenaw Ave & Lawrence Ave,Subscriber,Male,1991.0

In [83]:
df2 = pd.read_csv('Divvy_Trips_2018_Q2.csv')

In [84]:
df2

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,18000527,2018-04-01 00:04:44,2018-04-01 00:13:03,3819,499.0,22,May St & Taylor St,171,May St & Cullerton St,Subscriber,Male,1994.0
1,18000528,2018-04-01 00:06:42,2018-04-01 00:27:07,5000,"1,225.0",157,Lake Shore Dr & Wellington Ave,190,Southport Ave & Wrightwood Ave,Subscriber,Male,1965.0
2,18000529,2018-04-01 00:07:19,2018-04-01 00:23:19,5165,960.0,106,State St & Pearson St,106,State St & Pearson St,Customer,NaN,NaN
3,18000530,2018-04-01 00:07:33,2018-04-01 00:14:47,3851,434.0,241,Morgan St & Polk St,171,May St & Cullerton St,Subscriber,Male,1998.0
4,18000531,2018-04-01 00:10:23,2018-04-01 00:22:12,5065,709.0,228,Damen Ave & Melrose Ave,219,Damen Ave & Cortland St,Subscriber,Male,1983.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1059676,19244618,2018-06-30 23:59:27,2018-07-01 00:06:33,338,426.0,141,Clark St & Lincoln Ave,313,Lakeview Ave & Fullerton Pkwy,Customer,NaN,NaN
1059677,19244619,2018-06-30 23:59:48,2018-07-01 00:08:45,3646,537.0,260,Kedzie Ave & Milwaukee Ave,506,Spaulding Ave & Armitage Ave,Subscriber,Male,1980.0
1059678,19244620,2018-06-30 23:59:56,2018-07-01 00:17:14,4360,"1,038.0",38,Clark St & Lake St,338,Calumet Ave & 18th St,Subscriber,Female,1985.0
1059679,19244621,2018-06-30 23:59:55,2018-07-01 00:38:10,401,"2,295.0",284,Michigan Ave & Jackson Blvd,340,Clark St & Wrightwood Ave,Subscriber,Male,1989.0
1059680,19700927,2018-05-24 15:13:59,2018-05-24 15:18:22,2463,263.0,51,Clark St & Randolph St,77,Clinton St & Madison St,Subscriber,Male,1993.0

In [85]:
df3 = pd.read_csv('Divvy_Trips_2018_Q3.csv')

In [86]:
df3

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,19244622,2018-07-01 00:00:03,2018-07-01 23:56:11,5429,"86,168.0",140,Dearborn Pkwy & Delaware Pl,106,State St & Pearson St,Customer,NaN,NaN
1,19244623,2018-07-01 00:00:13,2018-07-01 00:06:39,93,386.0,153,Southport Ave & Wellington Ave,250,Ashland Ave & Wellington Ave,Subscriber,Male,1986.0
2,19244624,2018-07-01 00:00:15,2018-07-01 00:23:26,2461,"1,391.0",76,Lake Shore Dr & Monroe St,301,Clark St & Schiller St,Subscriber,Female,1987.0
3,19244625,2018-07-01 00:00:25,2018-07-01 00:23:31,2991,"1,386.0",76,Lake Shore Dr & Monroe St,301,Clark St & Schiller St,Subscriber,Male,1986.0
4,19244626,2018-07-01 00:00:27,2018-07-01 00:11:23,2851,656.0,60,Dayton St & North Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1961.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1513565,20983525,2018-09-30 23:50:58,2018-09-30 23:54:09,6468,191.0,162,Damen Ave & Wellington Ave,250,Ashland Ave & Wellington Ave,Subscriber,Male,1982.0
1513566,20983526,2018-09-30 23:53:22,2018-09-30 23:59:53,3731,391.0,426,Ellis Ave & 60th St,418,Ellis Ave & 53rd St,Customer,NaN,NaN
1513567,20983527,2018-09-30 23:54:17,2018-09-30 23:56:01,3098,104.0,107,Desplaines St & Jackson Blvd,73,Jefferson St & Monroe St,Subscriber,Male,1988.0
1513568,20983528,2018-09-30 23:55:36,2018-10-22 17:18:48,4338,"1,876,990.0",43,Michigan Ave & Washington St,437,Washtenaw Ave & Ogden Ave (*),Customer,Male,1992.0
1513569,20983529,2018-09-30 23:59:17,2018-10-01 00:10:54,2766,697.0,220,Clark St & Drummond Pl,166,Ashland Ave & Wrightwood Ave,Subscriber,Female,1998.0

In [87]:
df4 = pd.read_csv('Divvy_Trips_2018_Q4.csv')

In [88]:
df4

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,20983530,2018-10-01 00:01:17,2018-10-01 00:29:35,4551,"1,698.0",85,Michigan Ave & Oak St,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1992.0
1,20983531,2018-10-01 00:03:59,2018-10-01 00:10:55,847,416.0,13,Wilton Ave & Diversey Pkwy,144,Larrabee St & Webster Ave,Subscriber,Female,1982.0
2,20983532,2018-10-01 00:05:14,2018-10-01 00:14:08,6188,534.0,59,Wabash Ave & Roosevelt Rd,197,Michigan Ave & Madison St,Subscriber,Male,1986.0
3,20983533,2018-10-01 00:05:48,2018-10-01 00:18:46,6372,778.0,328,Ellis Ave & 58th St,419,Lake Park Ave & 53rd St,Subscriber,Female,1960.0
4,20983534,2018-10-01 00:07:29,2018-10-01 00:25:51,1927,"1,102.0",93,Sheffield Ave & Willow St,159,Claremont Ave & Hirsch St,Subscriber,Female,1993.0
...,...,...,...,...,...,...,...,...,...,...,...,...
642681,21742438,2018-12-31 23:45:17,2018-12-31 23:50:05,2931,288.0,49,Dearborn St & Monroe St,164,Franklin St & Lake St,Subscriber,Female,1983.0
642682,21742439,2018-12-31 23:48:48,2018-12-31 23:57:22,4386,514.0,624,Dearborn St & Van Buren St (*),44,State St & Randolph St,Subscriber,Female,1990.0
642683,21742440,2018-12-31 23:50:09,2018-12-31 23:57:16,4927,427.0,41,Federal St & Polk St,52,Michigan Ave & Lake St,Subscriber,Female,1995.0
642684,21742441,2018-12-31 23:55:04,2018-12-31 23:58:24,1350,200.0,141,Clark St & Lincoln Ave,118,Sedgwick St & North Ave,Subscriber,Male,1999.0
642685,21742442,2018-12-31 23:59:18,2019-01-01 00:20:43,2006,"1,285.0",260,Kedzie Ave & Milwaukee Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0

In [89]:
df = pd.concat([df1,df2,df3,df4], ignore_index=True)

In [90]:
df

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:23,3304,323.0,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988.0
1,17536703,2018-01-01 00:41:35,2018-01-01 00:47:52,5367,377.0,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Male,1984.0
2,17536704,2018-01-01 00:44:46,2018-01-01 01:33:10,4599,"2,904.0",98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Male,1989.0
3,17536705,2018-01-01 00:53:10,2018-01-01 01:05:37,2302,747.0,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Male,1983.0
4,17536706,2018-01-01 00:53:37,2018-01-01 00:56:40,3696,183.0,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Male,1989.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3603077,21742438,2018-12-31 23:45:17,2018-12-31 23:50:05,2931,288.0,49,Dearborn St & Monroe St,164,Franklin St & Lake St,Subscriber,Female,1983.0
3603078,21742439,2018-12-31 23:48:48,2018-12-31 23:57:22,4386,514.0,624,Dearborn St & Van Buren St (*),44,State St & Randolph St,Subscriber,Female,1990.0
3603079,21742440,2018-12-31 23:50:09,2018-12-31 23:57:16,4927,427.0,41,Federal St & Polk St,52,Michigan Ave & Lake St,Subscriber,Female,1995.0
3603080,21742441,2018-12-31 23:55:04,2018-12-31 23:58:24,1350,200.0,141,Clark St & Lincoln Ave,118,Sedgwick St & North Ave,Subscriber,Male,1999.0
3603081,21742442,2018-12-31 23:59:18,2019-01-01 00:20:43,2006,"1,285.0",260,Kedzie Ave & Milwaukee Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0

In [92]:
df.to_csv('Divvy 2018 nostation.csv')