In [27]:
import pandas as pd
import numpy as np

trips = pd.read_csv('Divvy_Trips_2013.csv')
stations = pd.read_csv('Divvy_Stations_2013.csv')

C:\Users\vitzj\AppData\Local\Temp\ipykernel_20188\2650613176.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv('Divvy_Trips_2013.csv')

# Metadata for Trips Table:

Variables:

trip_id: ID attached to each trip taken

starttime: day and time trip started, in CST

stoptime: day and time trip ended, in CST

bikeid: ID attached to each bike

tripduration: time of trip in seconds 

from_station_name: name of station where trip originated

to_station_name: name of station where trip terminated 

from_station_id: ID of station where trip originated

to_station_id: ID of station where trip terminated

usertype: "Customer" is a rider who purchased a 24-Hour Pass; "Subscriber" is a rider who purchased an Annual Membership

gender: gender of rider

birthyear: birth year of rider


Notes:

* First row contains column names
* Total records = 759,789
* Trips that did not include a start or end date were removed from original table.
* Gender and birthday are only available for Subscribers

In [28]:
trips

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthday
0,4118,2013-06-27 12:11,2013-06-27 12:16,480,316,85,Michigan Ave & Oak St,28,Larrabee St & Menomonee St,Customer,NaN,NaN
1,4275,2013-06-27 14:44,2013-06-27 14:45,77,64,32,Racine Ave & Congress Pkwy,32,Racine Ave & Congress Pkwy,Customer,NaN,NaN
2,4291,2013-06-27 14:58,2013-06-27 15:05,77,433,32,Racine Ave & Congress Pkwy,19,Loomis St & Taylor St,Customer,NaN,NaN
3,4316,2013-06-27 15:06,2013-06-27 15:09,77,123,19,Loomis St & Taylor St,19,Loomis St & Taylor St,Customer,NaN,NaN
4,4342,2013-06-27 15:13,2013-06-27 15:27,77,852,19,Loomis St & Taylor St,55,Halsted St & James M Rochford St,Customer,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
759783,1109257,2013-12-31 21:12,2013-12-31 21:16,1917,284,20,Sheffield Ave & Kingsbury St,93,Sheffield Ave & Willow St,Subscriber,Female,1983.0
759784,1109276,2013-12-31 21:36,2013-12-31 22:01,2859,1493,227,Southport Ave & Waveland Ave,228,Damen Ave & Melrose Ave,Subscriber,Female,1978.0
759785,1109283,2013-12-31 22:03,2013-12-31 22:13,198,650,284,Michigan Ave & Jackson Blvd,43,Michigan Ave & Washington St,Subscriber,Female,1976.0
759786,1109309,2013-12-31 22:10,2013-12-31 22:16,2048,346,130,Damen Ave & Division St,69,Damen Ave & Pierce Ave,Subscriber,Female,1976.0
759787,1109338,2013-12-31 22:35,2013-12-31 22:49,2239,868,216,California Ave & Division St,69,Damen Ave & Pierce Ave,Subscriber,Female,1978.0

In [29]:
# count nulls in each column
trips.isnull().sum(axis=0)

trip_id                   0
starttime                 0
stoptime                  0
bikeid                    0
tripduration              0
from_station_id           0
from_station_name         0
to_station_id             0
to_station_name           0
usertype                  0
gender               356742
birthday             356879
dtype: int64

# Metadata for Stations table:

Variables:

name: station name

latitude: station latitude

longitude: station longitude

dpcapacity: number of total docks at each station as of 2/7/2014

online date: date the station went live in the system

In [30]:
stations.head()

,id,name,latitude,longitude,dpcapacity,landmark,online date
0,5,State St & Harrison St,41.873958,-87.627739,19,30,6/28/2013
1,13,Wilton Ave & Diversey Pkwy,41.932500,-87.652681,19,66,6/28/2013
2,14,Morgan St & 18th St,41.858086,-87.651073,15,163,6/28/2013
3,15,Racine Ave & 18th St,41.858181,-87.656487,15,164,6/28/2013
4,16,Wood St & North Ave,41.910329,-87.672516,15,223,8/12/2013

In [31]:
# count nulls in each column
stations.isnull().sum(axis=0)

id             0
name           0
latitude       0
longitude      0
dpcapacity     0
landmark       0
online date    0
dtype: int64

In [32]:
stations = stations.drop(['name', 'online date'], axis=1)
from_stations = stations
from_stations = from_stations.rename(columns = {'id': 'from_station_id', 'latitude' : 'from_station_latitude', 'longitude' : 'from_station_longitude'})
from_stations = from_stations.drop_duplicates()
df = pd.merge(trips, from_stations, how='left', on=['from_station_id'], left_on=None, right_on=None,
      left_index=False, right_index=False, sort=True,
      suffixes=('_x', '_y'), copy=True)

In [33]:
df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthday,from_station_latitude,from_station_longitude,dpcapacity,landmark
0,5920,2013-06-28 13:05,2013-06-28 13:11,57,350,5,State St & Harrison St,37,Dearborn St & Adams St,Customer,NaN,NaN,41.873958,-87.627739,19,30
1,5938,2013-06-28 13:11,2013-06-28 13:31,389,1180,5,State St & Harrison St,44,State St & Randolph St,Customer,NaN,NaN,41.873958,-87.627739,19,30
2,5958,2013-06-28 13:15,2013-06-28 13:30,441,928,5,State St & Harrison St,44,State St & Randolph St,Customer,NaN,NaN,41.873958,-87.627739,19,30
3,5970,2013-06-28 13:19,2013-06-28 13:30,138,658,5,State St & Harrison St,44,State St & Randolph St,Customer,NaN,NaN,41.873958,-87.627739,19,30
4,7072,2013-06-28 18:45,2013-06-28 19:15,164,1820,5,State St & Harrison St,76,Lake Shore Dr & Monroe St,Customer,NaN,NaN,41.873958,-87.627739,19,30

In [34]:
# counting unique longitude values to make sure it merged correctly
# this works too: len(pd.unique(new['from_station_longitude']))
print(df.from_station_longitude.nunique())

300

Now I will merge on 'to_station_id'

In [35]:
to_stations = stations.drop(['landmark','dpcapacity'],axis=1)
to_stations = to_stations.rename(columns = {'id': 'to_station_id', 'latitude' : 'to_station_latitude', 'longitude' : 'to_station_longitude'})
to_stations = to_stations.drop_duplicates()
df = pd.merge(df, to_stations, how='left', on=['to_station_id'], left_on=None, right_on=None,
      left_index=False, right_index=False, sort=True,
      suffixes=('_x', '_y'), copy=True)

In [36]:
df

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthday,from_station_latitude,from_station_longitude,dpcapacity,landmark,to_station_latitude,to_station_longitude
0,21703,2013-07-03 23:40,2013-07-03 23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,Customer,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
1,22937,2013-07-04 13:27,2013-07-04 13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,Customer,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
2,22938,2013-07-04 13:27,2013-07-04 13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,Customer,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
3,24474,2013-07-04 17:31,2013-07-04 18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,Customer,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
4,25607,2013-07-04 22:31,2013-07-04 22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,Customer,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759783,594930,2013-09-26 13:04,2013-09-26 13:14,955,575,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,Subscriber,Male,1982.0,41.803038,-87.606615,15,440,41.803038,-87.606615
759784,605056,2013-09-27 13:06,2013-09-27 13:19,2081,757,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,Subscriber,Male,1983.0,41.803038,-87.606615,15,440,41.803038,-87.606615
759785,605226,2013-09-27 13:19,2013-09-27 13:38,2081,1093,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,Subscriber,Male,1983.0,41.803038,-87.606615,15,440,41.803038,-87.606615
759786,629225,2013-09-29 12:43,2013-09-29 12:46,2351,138,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,Subscriber,Male,1994.0,41.803038,-87.606615,15,440,41.803038,-87.606615
759787,524540,2013-09-18 13:07,2013-09-18 13:18,364,695,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,Subscriber,Female,1986.0,41.803038,-87.606615,15,440,41.803038,-87.606615

In [37]:
pd.unique(df['usertype'])

array(['Customer', 'Subscriber'], dtype=object)

In [38]:
# changing boolean strings so that they are in line with our actual variable names

df.loc[df.usertype=='Customer', 'usertype'] = 'casual'
df.loc[df.usertype=='Subscriber', 'usertype'] = 'member'
pd.unique(df['usertype'])

array(['casual', 'member'], dtype=object)

In [39]:
df

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthday,from_station_latitude,from_station_longitude,dpcapacity,landmark,to_station_latitude,to_station_longitude
0,21703,2013-07-03 23:40,2013-07-03 23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
1,22937,2013-07-04 13:27,2013-07-04 13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
2,22938,2013-07-04 13:27,2013-07-04 13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
3,24474,2013-07-04 17:31,2013-07-04 18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
4,25607,2013-07-04 22:31,2013-07-04 22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759783,594930,2013-09-26 13:04,2013-09-26 13:14,955,575,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,member,Male,1982.0,41.803038,-87.606615,15,440,41.803038,-87.606615
759784,605056,2013-09-27 13:06,2013-09-27 13:19,2081,757,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,member,Male,1983.0,41.803038,-87.606615,15,440,41.803038,-87.606615
759785,605226,2013-09-27 13:19,2013-09-27 13:38,2081,1093,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,member,Male,1983.0,41.803038,-87.606615,15,440,41.803038,-87.606615
759786,629225,2013-09-29 12:43,2013-09-29 12:46,2351,138,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,member,Male,1994.0,41.803038,-87.606615,15,440,41.803038,-87.606615
759787,524540,2013-09-18 13:07,2013-09-18 13:18,364,695,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,member,Female,1986.0,41.803038,-87.606615,15,440,41.803038,-87.606615

In [40]:
# this may be irrelevant going forward
df.drop(['landmark'],axis=1)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthday,from_station_latitude,from_station_longitude,dpcapacity,to_station_latitude,to_station_longitude
0,21703,2013-07-03 23:40,2013-07-03 23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739
1,22937,2013-07-04 13:27,2013-07-04 13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739
2,22938,2013-07-04 13:27,2013-07-04 13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739
3,24474,2013-07-04 17:31,2013-07-04 18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739
4,25607,2013-07-04 22:31,2013-07-04 22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759783,594930,2013-09-26 13:04,2013-09-26 13:14,955,575,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,member,Male,1982.0,41.803038,-87.606615,15,41.803038,-87.606615
759784,605056,2013-09-27 13:06,2013-09-27 13:19,2081,757,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,member,Male,1983.0,41.803038,-87.606615,15,41.803038,-87.606615
759785,605226,2013-09-27 13:19,2013-09-27 13:38,2081,1093,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,member,Male,1983.0,41.803038,-87.606615,15,41.803038,-87.606615
759786,629225,2013-09-29 12:43,2013-09-29 12:46,2351,138,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,member,Male,1994.0,41.803038,-87.606615,15,41.803038,-87.606615
759787,524540,2013-09-18 13:07,2013-09-18 13:18,364,695,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,member,Female,1986.0,41.803038,-87.606615,15,41.803038,-87.606615

In [47]:
df.loc[(df['birthday'].notnull()) & (df['usertype'] == 'casual')]

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthday,from_station_latitude,from_station_longitude,dpcapacity,landmark,to_station_latitude,to_station_longitude
39894,35219,2013-07-07 13:39,2013-07-07 15:12,27,5629,59,Wabash Ave & Roosevelt Rd,25,Michigan Ave & Pearson St,casual,Male,1979.0,41.867173,-87.625955,19,31,41.897660,-87.623510
43937,35221,2013-07-07 13:39,2013-07-07 15:12,560,5603,252,Greenwood Ave & 47th St,25,Michigan Ave & Pearson St,casual,Male,1979.0,41.809835,-87.599383,15,396,41.897660,-87.623510
77353,35702,2013-07-07 15:13,2013-07-07 15:42,27,1694,25,Michigan Ave & Pearson St,34,Cannon Dr & Fullerton Ave,casual,Male,1979.0,41.897660,-87.623510,23,34,41.926756,-87.634429
77354,35703,2013-07-07 15:14,2013-07-07 15:42,560,1669,25,Michigan Ave & Pearson St,34,Cannon Dr & Fullerton Ave,casual,Male,1979.0,41.897660,-87.623510,23,34,41.926756,-87.634429
82284,447835,2013-09-08 16:40,2013-09-08 16:52,1522,723,176,Clark St & Elm St,34,Cannon Dr & Fullerton Ave,casual,Male,1995.0,41.903233,-87.631253,19,349,41.926756,-87.634429
91321,247465,2013-08-17 13:35,2013-08-17 13:57,342,1315,76,Lake Shore Dr & Monroe St,35,Streeter Dr & Illinois St,casual,Male,1979.0,41.881050,-87.616970,11,300,41.891071,-87.612200
91322,247468,2013-08-17 13:35,2013-08-17 13:57,735,1296,76,Lake Shore Dr & Monroe St,35,Streeter Dr & Illinois St,casual,Male,1979.0,41.881050,-87.616970,11,300,41.891071,-87.612200
123253,244656,2013-08-17 10:14,2013-08-17 10:32,28,1136,59,Wabash Ave & Roosevelt Rd,43,Michigan Ave & Washington St,casual,Male,1979.0,41.867173,-87.625955,19,31,41.883893,-87.624649
123254,244661,2013-08-17 10:14,2013-08-17 10:32,199,1108,59,Wabash Ave & Roosevelt Rd,43,Michigan Ave & Washington St,casual,Male,1979.0,41.867173,-87.625955,19,31,41.883893,-87.624649
169786,280503,2013-08-21 05:53,2013-08-21 06:03,1474,598,134,Peoria St & Jackson Blvd,50,Clark St & Congress Pkwy,casual,Male,1951.0,41.877749,-87.649633,19,158,41.875933,-87.630585
169787,412368,2013-09-05 05:53,2013-09-05 06:02,904,547,134,Peoria St & Jackson Blvd,50,Clark St & Congress Pkwy,casual,Male,1951.0,41.877749,-87.649633,19,158,41.875933,-87.630585
277138,35852,2013-07-07 15:47,2013-07-07 18:10,560,8597,34,Cannon Dr & Fullerton Ave,76,Lake Shore Dr & Monroe St,casual,Male,1979.0,41.926756,-87.634429,15,124,41.881050,-87.616970
305635,408140,2013-09-04 15:58,2013-09-04 16:20,1460,1346,50,Clark St & Congress Pkwy,81,Daley Center Plaza,casual,Male,1951.0,41.875933,-87.630585,27,9,41.884337,-87.630183
316618,34019,2013-07-07 00:37,2013-07-07 10:52,200,36870,36,Franklin St & Jackson Blvd,85,Michigan Ave & Oak St,casual,Male,1985.0,41.877708,-87.635321,27,19,41.900960,-87.623777
319453,11285,2013-06-30 15:54,2013-06-30 16:33,193,2324,76,Lake Shore Dr & Monroe St,85,Michigan Ave & Oak St,casual,Female,1995.0,41.881050,-87.616970,11,300,41.900960,-87.623777
347054,12108,2013-06-30 19:47,2013-06-30 21:54,241,7635,90,Millennium Park,90,Millennium Park,casual,Female,1995.0,41.881032,-87.624084,35,8,41.881032,-87.624084
375341,34109,2013-07-07 05:13,2013-07-07 05:31,382,1094,94,Lincoln Ave & Armitage Ave,94,Lincoln Ave & Armitage Ave,casual,Male,1995.0,41.918273,-87.638116,19,146,41.918273,-87.638116
416519,248774,2013-08-17 15:04,2013-08-17 15:28,30,1440,35,Streeter Dr & Illinois St,110,State St & Erie St,casual,Male,1979.0,41.891071,-87.612200,35,22,41.893975,-87.628623
416520,248789,2013-08-17 15:05,2013-08-17 15:28,1370,1386,35,Streeter Dr & Illinois St,110,State St & Erie St,casual,Male,1979.0,41.891071,-87.612200,35,22,41.893975,-87.628623
466430,284954,2013-08-21 16:35,2013-08-21 16:48,213,746,50,Clark St & Congress Pkwy,134,Peoria St & Jackson Blvd,casual,Male,1951.0,41.875933,-87.630585,27,9,41.877749,-87.649633
467049,277009,2013-08-20 17:10,2013-08-20 17:19,1128,560,75,Canal St & Jackson Blvd,134,Peoria St & Jackson Blvd,casual,Male,1951.0,41.878114,-87.639971,35,138,41.877749,-87.649633
467474,409691,2013-09-04 17:44,2013-09-04 18:09,1018,1533,81,Daley Center Plaza,134,Peoria St & Jackson Blvd,casual,Male,1951.0,41.884337,-87.630183,47,23,41.877749,-87.649633
550974,441030,2013-09-07 20:38,2013-09-07 20:51,1558,816,177,Theater on the Lake,176,Clark St & Elm St,casual,Male,1995.0,41.926277,-87.630834,15,350,41.903233,-87.631253
675665,36456,2013-07-07 18:11,2013-07-07 18:25,560,857,76,Lake Shore Dr & Monroe St,251,Clarendon Ave & Leland Ave,casual,Male,1979.0,41.881050,-87.616970,11,300,41.967968,-87.650001

In [76]:
df.to_csv('Divvy 2013 merged.csv')