In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('Divvy 2013 merged.csv').drop('Unnamed: 0', axis=1)
df1 = df1.rename(columns = {'birthday':'birthyear'})
df1 = df1.rename(columns = {'starttime':'start_time','stoptime':'end_time'})

stations = pd.read_csv('master_station_list.csv')
stations = stations.drop(['Unnamed: 0'], axis=1)


df1.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,from_station_latitude,from_station_longitude,dpcapacity,landmark,to_station_latitude,to_station_longitude
0,21703,2013-07-03 23:40,2013-07-03 23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
1,22937,2013-07-04 13:27,2013-07-04 13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
2,22938,2013-07-04 13:27,2013-07-04 13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
3,24474,2013-07-04 17:31,2013-07-04 18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739
4,25607,2013-07-04 22:31,2013-07-04 22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,30,41.873958,-87.627739

In [3]:
df2 = pd.read_csv('Divvy 2014 merged.csv').drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
df2 = df2.rename(columns = {'birthday':'birthyear'})
df2 = df2.rename(columns = {'starttime':'start_time','stoptime':'end_time'})
df2.head()

,Unnamed: 0.2,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,from_station_latitude,from_station_longitude,dpcapacity,to_station_latitude,to_station_longitude
0,0,2340422,6/29/2014 19:48,6/29/2014 21:41,2870,6835,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739
1,1,2340356,6/29/2014 19:44,6/29/2014 21:42,2462,7070,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739
2,2,2330419,6/29/2014 12:44,6/29/2014 14:18,2398,5640,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739
3,3,2323885,6/28/2014 22:10,6/28/2014 22:50,2356,2425,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739
4,4,2315406,6/28/2014 14:25,6/28/2014 14:36,2255,656,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739

In [4]:
df3 = pd.read_csv('Divvy 2015 merged.csv').drop(['Unnamed: 0'], axis=1)
df3 = df3.rename(columns = {'starttime':'start_time','stoptime':'end_time'})
df3.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,from_station_latitude,from_station_longitude,dpcapacity,landmark,to_station_latitude,to_station_longitude
0,5940885,6/30/2015 19:53,6/30/2015 19:58,886,326,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,casual,NaN,NaN,41.872293,-87.624091,35.0,541.0,41.872293,-87.624091
1,5940770,6/30/2015 19:46,6/30/2015 19:48,3729,113,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,casual,NaN,NaN,41.872293,-87.624091,35.0,541.0,41.872293,-87.624091
2,5937296,6/30/2015 17:40,6/30/2015 18:27,886,2802,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,casual,NaN,NaN,41.872293,-87.624091,35.0,541.0,41.872293,-87.624091
3,5937276,6/30/2015 17:40,6/30/2015 18:10,1363,1808,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,casual,NaN,NaN,41.872293,-87.624091,35.0,541.0,41.872293,-87.624091
4,5937265,6/30/2015 17:40,6/30/2015 18:27,3515,2858,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,casual,NaN,NaN,41.872293,-87.624091,35.0,541.0,41.872293,-87.624091

In [5]:
df4 = pd.read_csv('Divvy 2016 merged.csv').drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
df4 = df4.rename(columns = {'starttime':'start_time','stoptime':'end_time'})
df4.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,from_station_latitude,from_station_longitude,dpcapacity,to_station_latitude,to_station_longitude
0,9055823,3/29/2016 14:28,3/29/2016 14:50,2298,1351,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,Customer,NaN,NaN,41.872667,-87.623971,35,41.872667,-87.623971
1,9055816,3/29/2016 14:27,3/29/2016 14:50,4706,1407,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,Customer,NaN,NaN,41.872667,-87.623971,35,41.872667,-87.623971
2,9054979,3/29/2016 13:01,3/29/2016 13:15,152,851,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,Subscriber,Female,1969.0,41.872667,-87.623971,35,41.872667,-87.623971
3,9054281,3/29/2016 11:42,3/29/2016 11:54,1954,740,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,Customer,NaN,NaN,41.872667,-87.623971,35,41.872667,-87.623971
4,9044031,3/28/2016 10:29,3/28/2016 10:36,1909,411,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,Customer,NaN,NaN,41.872667,-87.623971,35,41.872667,-87.623971

In [6]:
df5 = pd.read_csv('Divvy 2017 merged.csv').drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)
df5 = df5.rename(columns = {'starttime':'start_time','stoptime':'end_time'})
df5.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,from_city,from_station_latitude,from_station_longitude,dpcapacity,to_city,to_station_latitude,to_station_longitude
0,13518771,3/31/2017 22:02:23,3/31/2017 22:37:31,5453,2108,2,Buckingham Fountain,2,Buckingham Fountain,Customer,NaN,NaN,Chicago,41.88106,-87.619486,27,Chicago,41.88106,-87.619486
1,13518768,3/31/2017 22:01:25,3/31/2017 22:37:31,5003,2166,2,Buckingham Fountain,2,Buckingham Fountain,Customer,NaN,NaN,Chicago,41.88106,-87.619486,27,Chicago,41.88106,-87.619486
2,13496439,3/28/2017 12:28:25,3/28/2017 12:43:59,5789,934,2,Buckingham Fountain,2,Buckingham Fountain,Subscriber,Female,1969.0,Chicago,41.88106,-87.619486,27,Chicago,41.88106,-87.619486
3,13491648,3/27/2017 17:59:39,3/27/2017 18:02:00,5237,141,2,Buckingham Fountain,2,Buckingham Fountain,Customer,NaN,NaN,Chicago,41.88106,-87.619486,27,Chicago,41.88106,-87.619486
4,13488885,3/27/2017 13:10:04,3/27/2017 13:38:57,1021,1733,2,Buckingham Fountain,2,Buckingham Fountain,Customer,NaN,NaN,Chicago,41.88106,-87.619486,27,Chicago,41.88106,-87.619486

In [7]:
d1_5 = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

In [8]:
d1_5

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,birthyear,from_station_latitude,from_station_longitude,dpcapacity,landmark,to_station_latitude,to_station_longitude,Unnamed: 0.2,from_city,to_city
0,21703,2013-07-03 23:40,2013-07-03 23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,casual,...,NaN,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN
1,22937,2013-07-04 13:27,2013-07-04 13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,casual,...,NaN,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN
2,22938,2013-07-04 13:27,2013-07-04 13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,casual,...,NaN,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN
3,24474,2013-07-04 17:31,2013-07-04 18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,casual,...,NaN,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN
4,25607,2013-07-04 22:31,2013-07-04 22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,casual,...,NaN,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14219023,17534545,12/29/2017 21:11,12/29/2017 21:29,2928,1046,287,Franklin St & Monroe St,626,Delano Ct & Roosevelt Rd,Subscriber,...,1992.0,41.880317,-87.635185,27.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago
14219024,17535695,12/31/2017 10:08,12/31/2017 10:14,6128,343,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,1962.0,41.870769,-87.625734,19.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago
14219025,17532632,12/28/2017 17:05,12/28/2017 17:10,4907,296,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,1992.0,41.870769,-87.625734,19.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago
14219026,17532112,12/28/2017 13:33,12/28/2017 13:39,1918,341,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,1983.0,41.870769,-87.625734,19.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago
14219027,17532410,12/28/2017 15:50,12/28/2017 15:59,3663,563,338,Calumet Ave & 18th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,1984.0,41.857611,-87.619407,15.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago

In [9]:
d1_5['rideable_type'] = 'classic_bike'

In [10]:
d1_5

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,from_station_latitude,from_station_longitude,dpcapacity,landmark,to_station_latitude,to_station_longitude,Unnamed: 0.2,from_city,to_city,rideable_type
0,21703,2013-07-03 23:40,2013-07-03 23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike
1,22937,2013-07-04 13:27,2013-07-04 13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike
2,22938,2013-07-04 13:27,2013-07-04 13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike
3,24474,2013-07-04 17:31,2013-07-04 18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike
4,25607,2013-07-04 22:31,2013-07-04 22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14219023,17534545,12/29/2017 21:11,12/29/2017 21:29,2928,1046,287,Franklin St & Monroe St,626,Delano Ct & Roosevelt Rd,Subscriber,...,41.880317,-87.635185,27.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike
14219024,17535695,12/31/2017 10:08,12/31/2017 10:14,6128,343,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,41.870769,-87.625734,19.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike
14219025,17532632,12/28/2017 17:05,12/28/2017 17:10,4907,296,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,41.870769,-87.625734,19.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike
14219026,17532112,12/28/2017 13:33,12/28/2017 13:39,1918,341,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,41.870769,-87.625734,19.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike
14219027,17532410,12/28/2017 15:50,12/28/2017 15:59,3663,563,338,Calumet Ave & 18th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,41.857611,-87.619407,15.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike

In [11]:
d1_5.dtypes

trip_id                     int64
start_time                 object
end_time                   object
bikeid                      int64
tripduration                int64
from_station_id             int64
from_station_name          object
to_station_id               int64
to_station_name            object
usertype                   object
gender                     object
birthyear                 float64
from_station_latitude     float64
from_station_longitude    float64
dpcapacity                float64
landmark                  float64
to_station_latitude       float64
to_station_longitude      float64
Unnamed: 0.2              float64
from_city                  object
to_city                    object
rideable_type              object
dtype: object

In [12]:
from_city = pd.read_csv('city and landmarks.csv')

In [13]:
from_city = from_city.drop(['Unnamed: 0', 'latitude', 'longitude', 'name'],axis=1)

In [14]:
from_city= from_city.rename(columns={'id':'from_station_id','city':'from_city','landmark':'from_landmark'})
from_city.head()
#from_city.dtypes
#from_city['from_station_id'].unique()

   from_station_id from_city  from_landmark
0              456   Chicago            0.0
1              101   Chicago            0.0
2              109   Chicago           28.0
3               21   Chicago          157.0
4               80   Chicago          156.0

In [15]:
d1_5

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,from_station_latitude,from_station_longitude,dpcapacity,landmark,to_station_latitude,to_station_longitude,Unnamed: 0.2,from_city,to_city,rideable_type
0,21703,2013-07-03 23:40,2013-07-03 23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike
1,22937,2013-07-04 13:27,2013-07-04 13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike
2,22938,2013-07-04 13:27,2013-07-04 13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike
3,24474,2013-07-04 17:31,2013-07-04 18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike
4,25607,2013-07-04 22:31,2013-07-04 22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14219023,17534545,12/29/2017 21:11,12/29/2017 21:29,2928,1046,287,Franklin St & Monroe St,626,Delano Ct & Roosevelt Rd,Subscriber,...,41.880317,-87.635185,27.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike
14219024,17535695,12/31/2017 10:08,12/31/2017 10:14,6128,343,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,41.870769,-87.625734,19.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike
14219025,17532632,12/28/2017 17:05,12/28/2017 17:10,4907,296,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,41.870769,-87.625734,19.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike
14219026,17532112,12/28/2017 13:33,12/28/2017 13:39,1918,341,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,41.870769,-87.625734,19.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike
14219027,17532410,12/28/2017 15:50,12/28/2017 15:59,3663,563,338,Calumet Ave & 18th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,41.857611,-87.619407,15.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike

In [16]:
k = pd.merge(d1_5,from_city,on='from_station_id',how='left')
k

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,dpcapacity,landmark,to_station_latitude,to_station_longitude,Unnamed: 0.2,from_city_x,to_city,rideable_type,from_city_y,from_landmark
0,21703,2013-07-03 23:40,2013-07-03 23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,casual,...,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike,Chicago,30.0
1,22937,2013-07-04 13:27,2013-07-04 13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,casual,...,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike,Chicago,30.0
2,22938,2013-07-04 13:27,2013-07-04 13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,casual,...,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike,Chicago,30.0
3,24474,2013-07-04 17:31,2013-07-04 18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,casual,...,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike,Chicago,30.0
4,25607,2013-07-04 22:31,2013-07-04 22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,casual,...,19.0,30.0,41.873958,-87.627739,NaN,NaN,NaN,classic_bike,Chicago,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14219023,17534545,12/29/2017 21:11,12/29/2017 21:29,2928,1046,287,Franklin St & Monroe St,626,Delano Ct & Roosevelt Rd,Subscriber,...,27.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike,Chicago,57.0
14219024,17535695,12/31/2017 10:08,12/31/2017 10:14,6128,343,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,19.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike,Chicago,54.0
14219025,17532632,12/28/2017 17:05,12/28/2017 17:10,4907,296,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,19.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike,Chicago,54.0
14219026,17532112,12/28/2017 13:33,12/28/2017 13:39,1918,341,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,19.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike,Chicago,54.0
14219027,17532410,12/28/2017 15:50,12/28/2017 15:59,3663,563,338,Calumet Ave & 18th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,15.0,NaN,41.867491,-87.632190,NaN,Chicago,Chicago,classic_bike,Chicago,102.0

In [17]:
k = k.drop('from_city_x',axis=1)
k = k.rename(columns = {'from_city_y':'from_city'})

In [18]:
to_city = pd.read_csv('city and landmarks.csv')
to_city = to_city.drop(['Unnamed: 0','latitude','longitude','name'],axis=1)
to_city= to_city.rename(columns = {'id':'to_station_id','city':'to_city','landmark':'to_landmark'})
to_city.head()
# to_city.dtypes
# to_city['from_station_id'].unique()

   to_station_id  to_city  to_landmark
0            456  Chicago          0.0
1            101  Chicago          0.0
2            109  Chicago         28.0
3             21  Chicago        157.0
4             80  Chicago        156.0

In [19]:
merged2013_2017 = pd.merge(k,to_city,on='to_station_id',how='left')

In [20]:
merged2013_2017.dtypes

trip_id                     int64
start_time                 object
end_time                   object
bikeid                      int64
tripduration                int64
from_station_id             int64
from_station_name          object
to_station_id               int64
to_station_name            object
usertype                   object
gender                     object
birthyear                 float64
from_station_latitude     float64
from_station_longitude    float64
dpcapacity                float64
landmark                  float64
to_station_latitude       float64
to_station_longitude      float64
Unnamed: 0.2              float64
to_city_x                  object
rideable_type              object
from_city                  object
from_landmark             float64
to_city_y                  object
to_landmark               float64
dtype: object

In [21]:
merged2013_2017

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,landmark,to_station_latitude,to_station_longitude,Unnamed: 0.2,to_city_x,rideable_type,from_city,from_landmark,to_city_y,to_landmark
0,21703,2013-07-03 23:40,2013-07-03 23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,casual,...,30.0,41.873958,-87.627739,NaN,NaN,classic_bike,Chicago,30.0,Chicago,30.0
1,22937,2013-07-04 13:27,2013-07-04 13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,casual,...,30.0,41.873958,-87.627739,NaN,NaN,classic_bike,Chicago,30.0,Chicago,30.0
2,22938,2013-07-04 13:27,2013-07-04 13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,casual,...,30.0,41.873958,-87.627739,NaN,NaN,classic_bike,Chicago,30.0,Chicago,30.0
3,24474,2013-07-04 17:31,2013-07-04 18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,casual,...,30.0,41.873958,-87.627739,NaN,NaN,classic_bike,Chicago,30.0,Chicago,30.0
4,25607,2013-07-04 22:31,2013-07-04 22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,casual,...,30.0,41.873958,-87.627739,NaN,NaN,classic_bike,Chicago,30.0,Chicago,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14219023,17534545,12/29/2017 21:11,12/29/2017 21:29,2928,1046,287,Franklin St & Monroe St,626,Delano Ct & Roosevelt Rd,Subscriber,...,NaN,41.867491,-87.632190,NaN,Chicago,classic_bike,Chicago,57.0,Chicago,0.0
14219024,17535695,12/31/2017 10:08,12/31/2017 10:14,6128,343,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,NaN,41.867491,-87.632190,NaN,Chicago,classic_bike,Chicago,54.0,Chicago,0.0
14219025,17532632,12/28/2017 17:05,12/28/2017 17:10,4907,296,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,NaN,41.867491,-87.632190,NaN,Chicago,classic_bike,Chicago,54.0,Chicago,0.0
14219026,17532112,12/28/2017 13:33,12/28/2017 13:39,1918,341,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,NaN,41.867491,-87.632190,NaN,Chicago,classic_bike,Chicago,54.0,Chicago,0.0
14219027,17532410,12/28/2017 15:50,12/28/2017 15:59,3663,563,338,Calumet Ave & 18th St,626,Delano Ct & Roosevelt Rd,Subscriber,...,NaN,41.867491,-87.632190,NaN,Chicago,classic_bike,Chicago,102.0,Chicago,0.0

In [22]:
merged2013_2017 = merged2013_2017.drop('to_city_x',axis=1)
merged2013_2017 = merged2013_2017.rename(columns = {'to_city_y':'to_city','from_station_latitude':'from_lat','from_station_longitude':'from_long','to_station_latitude':'to_lat','to_station_longitude':'to_long'})

In [23]:
merged2013_2017.dtypes

trip_id                int64
start_time            object
end_time              object
bikeid                 int64
tripduration           int64
from_station_id        int64
from_station_name     object
to_station_id          int64
to_station_name       object
usertype              object
gender                object
birthyear            float64
from_lat             float64
from_long            float64
dpcapacity           float64
landmark             float64
to_lat               float64
to_long              float64
Unnamed: 0.2         float64
rideable_type         object
from_city             object
from_landmark        float64
to_city               object
to_landmark          float64
dtype: object

In [24]:
merged2013_2017.shape

(14219028, 24)

In [25]:
# dropping duplicates based on trip_id

merged2013_2017 = merged2013_2017.drop_duplicates(subset = ['trip_id'])

In [26]:
merged2013_2017.shape

(13822054, 24)

In [27]:
merged2013_2017['usertype'].unique()

array(['casual', 'member', 'Customer', 'Subscriber', 'Dependent'],
      dtype=object)

In [28]:
merged2013_2017 = merged2013_2017[merged2013_2017.usertype != 'Dependent']

In [29]:
merged2013_2017['usertype'].unique()

array(['casual', 'member', 'Customer', 'Subscriber'], dtype=object)

In [30]:
merged2013_2017.loc[merged2013_2017['usertype'] == 'Customer', 'usertype'] = 'casual'
merged2013_2017.loc[merged2013_2017['usertype'] == 'Subscriber', 'usertype'] = 'member'

In [31]:
merged2013_2017['usertype'].unique()

array(['casual', 'member'], dtype=object)

In [32]:
merged2013_2017.shape

(13822007, 24)

In [33]:
merged2013_2017 = merged2013_2017.drop_duplicates()

In [34]:
merged2013_2017.shape

(13822007, 24)

In [35]:
merged2013_2017

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,dpcapacity,landmark,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark
0,21703,2013-07-03 23:40,2013-07-03 23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,casual,...,19.0,30.0,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0
1,22937,2013-07-04 13:27,2013-07-04 13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,casual,...,19.0,30.0,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0
2,22938,2013-07-04 13:27,2013-07-04 13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,casual,...,19.0,30.0,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0
3,24474,2013-07-04 17:31,2013-07-04 18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,casual,...,19.0,30.0,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0
4,25607,2013-07-04 22:31,2013-07-04 22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,casual,...,19.0,30.0,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14219023,17534545,12/29/2017 21:11,12/29/2017 21:29,2928,1046,287,Franklin St & Monroe St,626,Delano Ct & Roosevelt Rd,member,...,27.0,NaN,41.867491,-87.632190,NaN,classic_bike,Chicago,57.0,Chicago,0.0
14219024,17535695,12/31/2017 10:08,12/31/2017 10:14,6128,343,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,19.0,NaN,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0
14219025,17532632,12/28/2017 17:05,12/28/2017 17:10,4907,296,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,19.0,NaN,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0
14219026,17532112,12/28/2017 13:33,12/28/2017 13:39,1918,341,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,19.0,NaN,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0
14219027,17532410,12/28/2017 15:50,12/28/2017 15:59,3663,563,338,Calumet Ave & 18th St,626,Delano Ct & Roosevelt Rd,member,...,15.0,NaN,41.867491,-87.632190,NaN,classic_bike,Chicago,102.0,Chicago,0.0

In [36]:
# splitting start_time and end_time into two columns
merged2013_2017[['start_date','start_time']] = merged2013_2017.start_time.str.split(" ",expand=True)
merged2013_2017[['end_date','end_time']] = merged2013_2017.end_time.str.split(" ",expand=True)

In [37]:
merged2013_2017

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
0,21703,23:40,23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-03,2013-07-03
1,22937,13:27,13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
2,22938,13:27,13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
3,24474,17:31,18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
4,25607,22:31,22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14219023,17534545,21:11,21:29,2928,1046,287,Franklin St & Monroe St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,57.0,Chicago,0.0,12/29/2017,12/29/2017
14219024,17535695,10:08,10:14,6128,343,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0,12/31/2017,12/31/2017
14219025,17532632,17:05,17:10,4907,296,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0,12/28/2017,12/28/2017
14219026,17532112,13:33,13:39,1918,341,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0,12/28/2017,12/28/2017
14219027,17532410,15:50,15:59,3663,563,338,Calumet Ave & 18th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,102.0,Chicago,0.0,12/28/2017,12/28/2017

In [38]:
merged2013_2017.dtypes

trip_id                int64
start_time            object
end_time              object
bikeid                 int64
tripduration           int64
from_station_id        int64
from_station_name     object
to_station_id          int64
to_station_name       object
usertype              object
gender                object
birthyear            float64
from_lat             float64
from_long            float64
dpcapacity           float64
landmark             float64
to_lat               float64
to_long              float64
Unnamed: 0.2         float64
rideable_type         object
from_city             object
from_landmark        float64
to_city               object
to_landmark          float64
start_date            object
end_date              object
dtype: object

In [39]:
# now fix start_date and end_date so they are in a single format
merged2013_2017['start_date'] = pd.to_datetime(merged2013_2017['start_date'])
merged2013_2017['end_date'] = pd.to_datetime(merged2013_2017['end_date'])

In [40]:
merged2013_2017['end_date'] = pd.to_datetime(merged2013_2017['end_date'])

In [41]:
merged2013_2017

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
0,21703,23:40,23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-03,2013-07-03
1,22937,13:27,13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
2,22938,13:27,13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
3,24474,17:31,18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
4,25607,22:31,22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14219023,17534545,21:11,21:29,2928,1046,287,Franklin St & Monroe St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,57.0,Chicago,0.0,2017-12-29,2017-12-29
14219024,17535695,10:08,10:14,6128,343,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0,2017-12-31,2017-12-31
14219025,17532632,17:05,17:10,4907,296,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0,2017-12-28,2017-12-28
14219026,17532112,13:33,13:39,1918,341,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0,2017-12-28,2017-12-28
14219027,17532410,15:50,15:59,3663,563,338,Calumet Ave & 18th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,102.0,Chicago,0.0,2017-12-28,2017-12-28

In [42]:
merged2013_2017.isnull().sum()

trip_id                     0
start_time                  0
end_time                    0
bikeid                      0
tripduration                0
from_station_id             0
from_station_name           0
to_station_id               0
to_station_name             0
usertype                    0
gender                3773227
birthyear             3772821
from_lat                 1153
from_long                1153
dpcapacity               1153
landmark              9880076
to_lat                   1180
to_long                  1180
Unnamed: 0.2         11367373
rideable_type               0
from_city                3934
from_landmark            3934
to_city                  4095
to_landmark              4095
start_date                  0
end_date                    0
dtype: int64

In [43]:
hi = merged2013_2017[merged2013_2017['to_city'].isnull()]
# California Ave & Augusta Blvd - Chicago
# Humboldt Dr & Luis Munoz Marin Dr - Chicago
hi

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
6229509,6005563,19:17,19:52,3869,2123,2,Buckingham Fountain,372,Humboldt Dr & Luis Munoz Marin Dr,casual,...,41.899358,-87.696439,NaN,classic_bike,Chicago,0.0,NaN,NaN,2015-07-03,2015-07-03
6229510,5513425,18:07,18:41,3210,2009,7,Field Blvd & South Water St,372,California Ave & Augusta Blvd,casual,...,41.899358,-87.696439,NaN,classic_bike,Chicago,0.0,NaN,NaN,2015-06-06,2015-06-06
6229511,5513423,18:07,18:41,1920,2012,7,Field Blvd & South Water St,372,California Ave & Augusta Blvd,casual,...,41.899358,-87.696439,NaN,classic_bike,Chicago,0.0,NaN,NaN,2015-06-06,2015-06-06
6229512,6861601,18:17,18:46,525,1743,9,Leavitt St & Archer Ave,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,41.899358,-87.696439,NaN,classic_bike,Chicago,0.0,NaN,NaN,2015-08-12,2015-08-12
6229513,6066621,23:43,0:15,4413,1955,14,Morgan St & 18th St,372,Humboldt Dr & Luis Munoz Marin Dr,casual,...,41.899358,-87.696439,NaN,classic_bike,Chicago,163.0,NaN,NaN,2015-07-05,2015-07-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10336717,12157867,07:33:19,07:45:27,1386,728,509,Troy St & North Ave,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,41.900146,-87.702882,NaN,classic_bike,Chicago,0.0,NaN,NaN,2016-10-02,2016-10-02
10336718,12914398,08:13:18,08:37:41,2409,1463,510,Spaulding Ave & Division St,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,41.900146,-87.702882,NaN,classic_bike,Chicago,0.0,NaN,NaN,2016-12-12,2016-12-12
10336719,12345688,18:51:56,18:56:04,4051,248,510,Spaulding Ave & Division St,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,41.900146,-87.702882,NaN,classic_bike,Chicago,0.0,NaN,NaN,2016-10-14,2016-10-14
10336720,12206172,10:50:07,11:06:34,5338,987,511,Albany Ave & Bloomingdale Ave,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,41.900146,-87.702882,NaN,classic_bike,Chicago,0.0,NaN,NaN,2016-10-05,2016-10-05
10336721,12411746,11:05:13,11:30:51,4102,1538,518,Conservatory Dr & Lake St,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,41.900146,-87.702882,NaN,classic_bike,Chicago,0.0,NaN,NaN,2016-10-19,2016-10-19

In [44]:
merged2013_2017['to_city'].unique()

array(['Chicago', nan, 'Evanston', 'Oak Park'], dtype=object)

In [45]:
hi['to_station_name'].unique()

array(['Humboldt Dr & Luis Munoz Marin Dr',
       'California Ave & Augusta Blvd'], dtype=object)

In [46]:
# because both entries are in Chicago, I can just skip straight to making all null/NaN values in this column = 'Chicago'

In [47]:
merged2013_2017.to_city = merged2013_2017.to_city.fillna('Chicago')

In [48]:
merged2013_2017

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
0,21703,23:40,23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-03,2013-07-03
1,22937,13:27,13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
2,22938,13:27,13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
3,24474,17:31,18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
4,25607,22:31,22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14219023,17534545,21:11,21:29,2928,1046,287,Franklin St & Monroe St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,57.0,Chicago,0.0,2017-12-29,2017-12-29
14219024,17535695,10:08,10:14,6128,343,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0,2017-12-31,2017-12-31
14219025,17532632,17:05,17:10,4907,296,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0,2017-12-28,2017-12-28
14219026,17532112,13:33,13:39,1918,341,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0,2017-12-28,2017-12-28
14219027,17532410,15:50,15:59,3663,563,338,Calumet Ave & 18th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,102.0,Chicago,0.0,2017-12-28,2017-12-28

In [49]:
merged2013_2017.isnull().sum()

trip_id                     0
start_time                  0
end_time                    0
bikeid                      0
tripduration                0
from_station_id             0
from_station_name           0
to_station_id               0
to_station_name             0
usertype                    0
gender                3773227
birthyear             3772821
from_lat                 1153
from_long                1153
dpcapacity               1153
landmark              9880076
to_lat                   1180
to_long                  1180
Unnamed: 0.2         11367373
rideable_type               0
from_city                3934
from_landmark            3934
to_city                     0
to_landmark              4095
start_date                  0
end_date                    0
dtype: int64

In [50]:
merged2013_2017 = merged2013_2017.drop('landmark',axis=1)

In [51]:
merged2013_2017.isnull().sum()

trip_id                     0
start_time                  0
end_time                    0
bikeid                      0
tripduration                0
from_station_id             0
from_station_name           0
to_station_id               0
to_station_name             0
usertype                    0
gender                3773227
birthyear             3772821
from_lat                 1153
from_long                1153
dpcapacity               1153
to_lat                   1180
to_long                  1180
Unnamed: 0.2         11367373
rideable_type               0
from_city                3934
from_landmark            3934
to_city                     0
to_landmark              4095
start_date                  0
end_date                    0
dtype: int64

In [52]:
merged2013_2017.groupby(['usertype']).count()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,gender,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
usertype,,,,,,,,,,,,,,,,,,,,,
casual,3773209,3773209,3773209,3773209,3773209,3773209,3773209,3773209,3773209,1350,...,3773068,3773068,791240,3773209,3772469,3772469,3773209,3772454,3773209,3773209
member,10048798,10048798,10048798,10048798,10048798,10048798,10048798,10048798,10048798,10047430,...,10047759,10047759,1663394,10048798,10045604,10045604,10048798,10045458,10048798,10048798

In [53]:
# check null values for endpoints
hi2 = merged2013_2017[merged2013_2017['to_long'].isnull()]
hi2

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
6247334,7239182,20:55,21:11,1713,986,2,Buckingham Fountain,394,Clark St & 9th St (AMLI),member,...,NaN,NaN,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-01,2015-09-01
6247335,7239170,20:54,21:12,4802,1025,2,Buckingham Fountain,394,Clark St & 9th St (AMLI),member,...,NaN,NaN,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-01,2015-09-01
6247336,7712720,17:55,18:22,2154,1656,3,Shedd Aquarium,394,Clark St & 9th St (AMLI),casual,...,NaN,NaN,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-28,2015-09-28
6247337,7331016,15:59,16:25,4199,1583,3,Shedd Aquarium,394,Clark St & 9th St (AMLI),casual,...,NaN,NaN,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-06,2015-09-06
6247338,8429383,10:06,10:15,2938,589,3,Shedd Aquarium,394,Clark St & 9th St (AMLI),member,...,NaN,NaN,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-12-08,2015-12-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6248509,7784665,14:38,14:51,1303,804,414,Canal St & Taylor St,394,Clark St & 9th St (AMLI),member,...,NaN,NaN,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-10-04,2015-10-04
6248510,7774519,10:33,10:46,1929,773,414,Canal St & Taylor St,394,Clark St & 9th St (AMLI),member,...,NaN,NaN,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-10-03,2015-10-03
6248511,7763618,10:41,10:54,3564,769,414,Canal St & Taylor St,394,Clark St & 9th St (AMLI),member,...,NaN,NaN,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-10-02,2015-10-02
6248512,7749728,10:32,10:45,4821,801,414,Canal St & Taylor St,394,Clark St & 9th St (AMLI),member,...,NaN,NaN,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-10-01,2015-10-01
6248513,7712286,17:42,18:04,1817,1320,434,Ogden Ave & Roosevelt Rd,394,Clark St & 9th St (AMLI),member,...,NaN,NaN,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-28,2015-09-28

In [54]:
# Clark St & 9th St (AMLI): lat: 41.87048, long: -87.63100
hi2['to_station_name'].unique()

array(['Clark St & 9th St (AMLI)'], dtype=object)

In [55]:
# only values are Clark Clark St & 9th St (AMLI) so we can just set all
# to_lat and to_long to the above numbers
merged2013_2017.to_lat = merged2013_2017.to_lat.fillna(41.87048)
merged2013_2017.to_long = merged2013_2017.to_long.fillna(-87.63100)

In [56]:
merged2013_2017

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
0,21703,23:40,23:47,490,437,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-03,2013-07-03
1,22937,13:27,13:53,905,1567,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
2,22938,13:27,13:53,255,1562,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
3,24474,17:31,18:41,407,4146,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
4,25607,22:31,22:39,489,498,5,State St & Harrison St,5,State St & Harrison St,casual,...,41.873958,-87.627739,NaN,classic_bike,Chicago,30.0,Chicago,30.0,2013-07-04,2013-07-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14219023,17534545,21:11,21:29,2928,1046,287,Franklin St & Monroe St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,57.0,Chicago,0.0,2017-12-29,2017-12-29
14219024,17535695,10:08,10:14,6128,343,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0,2017-12-31,2017-12-31
14219025,17532632,17:05,17:10,4907,296,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0,2017-12-28,2017-12-28
14219026,17532112,13:33,13:39,1918,341,321,Wabash Ave & 9th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,54.0,Chicago,0.0,2017-12-28,2017-12-28
14219027,17532410,15:50,15:59,3663,563,338,Calumet Ave & 18th St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.632190,NaN,classic_bike,Chicago,102.0,Chicago,0.0,2017-12-28,2017-12-28

In [57]:
merged2013_2017.isnull().sum()

trip_id                     0
start_time                  0
end_time                    0
bikeid                      0
tripduration                0
from_station_id             0
from_station_name           0
to_station_id               0
to_station_name             0
usertype                    0
gender                3773227
birthyear             3772821
from_lat                 1153
from_long                1153
dpcapacity               1153
to_lat                      0
to_long                     0
Unnamed: 0.2         11367373
rideable_type               0
from_city                3934
from_landmark            3934
to_city                     0
to_landmark              4095
start_date                  0
end_date                    0
dtype: int64

In [58]:
# check null values for start points
hi3 = merged2013_2017[merged2013_2017['from_long'].isnull()]
hi3

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
3228260,7238946,20:37,20:54,4802,998,394,Clark St & 9th St (AMLI),2,Buckingham Fountain,member,...,41.872293,-87.624091,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-01,2015-09-01
3228261,7238945,20:37,20:54,2921,986,394,Clark St & 9th St (AMLI),2,Buckingham Fountain,member,...,41.872293,-87.624091,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-01,2015-09-01
3228262,8053270,10:57,11:17,521,1205,394,Clark St & 9th St (AMLI),2,Buckingham Fountain,casual,...,41.872293,-87.624091,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-10-23,2015-10-23
3228263,8053266,10:56,11:17,2472,1267,394,Clark St & 9th St (AMLI),2,Buckingham Fountain,casual,...,41.872293,-87.624091,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-10-23,2015-10-23
3228264,7767859,16:25,16:32,1577,454,394,Clark St & 9th St (AMLI),2,Buckingham Fountain,member,...,41.872293,-87.624091,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-10-02,2015-10-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6258102,7426789,17:53,18:09,2841,985,394,Clark St & 9th St (AMLI),414,Canal St & Taylor St,casual,...,41.853661,-87.635135,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-12,2015-09-12
6258103,8510176,13:57,14:07,3624,545,394,Clark St & 9th St (AMLI),414,Canal St & Taylor St,member,...,41.853661,-87.635135,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-12-20,2015-12-20
6258104,8496041,12:52,13:01,1150,495,394,Clark St & 9th St (AMLI),414,Canal St & Taylor St,member,...,41.853661,-87.635135,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-12-17,2015-12-17
6270683,7499451,18:03,18:50,3843,2852,394,Clark St & 9th St (AMLI),420,Ellis Ave & 55th St,member,...,41.794301,-87.601450,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-16,2015-09-16
6291552,7708935,16:04,16:26,3822,1349,394,Clark St & 9th St (AMLI),434,Ogden Ave & Roosevelt Rd,member,...,41.866501,-87.684697,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-28,2015-09-28

In [59]:
hi3['from_station_name'].unique()

array(['Clark St & 9th St (AMLI)'], dtype=object)

In [60]:
# only values are Clark Clark St & 9th St (AMLI) so we can just set all
# from_lat and from_long to the above numbers
merged2013_2017.from_lat = merged2013_2017.from_lat.fillna(41.87048)
merged2013_2017.from_long = merged2013_2017.from_long.fillna(-87.63100)

In [61]:
merged2013_2017.isnull().sum()

trip_id                     0
start_time                  0
end_time                    0
bikeid                      0
tripduration                0
from_station_id             0
from_station_name           0
to_station_id               0
to_station_name             0
usertype                    0
gender                3773227
birthyear             3772821
from_lat                    0
from_long                   0
dpcapacity               1153
to_lat                      0
to_long                     0
Unnamed: 0.2         11367373
rideable_type               0
from_city                3934
from_landmark            3934
to_city                     0
to_landmark              4095
start_date                  0
end_date                    0
dtype: int64

In [62]:
# check null values for start points
hi4 = merged2013_2017[merged2013_2017['from_city'].isnull()]
hi4

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
3252216,7026359,8:24,9:13,3866,2918,372,Humboldt Dr & Luis Munoz Marin Dr,3,Shedd Aquarium,casual,...,41.867226,-87.615355,NaN,classic_bike,NaN,NaN,Chicago,0.0,2015-08-21,2015-08-21
3252217,7026326,8:22,9:13,3407,3028,372,Humboldt Dr & Luis Munoz Marin Dr,3,Shedd Aquarium,casual,...,41.867226,-87.615355,NaN,classic_bike,NaN,NaN,Chicago,0.0,2015-08-21,2015-08-21
3292458,6193502,14:07,14:44,3978,2270,372,Humboldt Dr & Luis Munoz Marin Dr,6,Dusable Harbor,member,...,41.885042,-87.612795,NaN,classic_bike,NaN,NaN,Chicago,0.0,2015-07-12,2015-07-12
3292459,6193488,14:06,14:44,3631,2314,372,Humboldt Dr & Luis Munoz Marin Dr,6,Dusable Harbor,member,...,41.885042,-87.612795,NaN,classic_bike,NaN,NaN,Chicago,0.0,2015-07-12,2015-07-12
3317187,6267856,7:22,7:53,3589,1909,372,Humboldt Dr & Luis Munoz Marin Dr,14,Morgan St & 18th St,member,...,41.858086,-87.651073,NaN,classic_bike,NaN,NaN,Chicago,163.0,2015-07-16,2015-07-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10380620,12558380,12:23:42,12:37:46,4180,844,372,Humboldt Dr & Luis Munoz Marin Dr,518,Conservatory Dr & Lake St,casual,...,41.885502,-87.716866,NaN,classic_bike,NaN,NaN,Chicago,0.0,2016-10-31,2016-10-31
10380621,12548614,13:35:29,13:52:19,615,1010,372,Humboldt Dr & Luis Munoz Marin Dr,518,Conservatory Dr & Lake St,member,...,41.885502,-87.716866,NaN,classic_bike,NaN,NaN,Chicago,0.0,2016-10-30,2016-10-30
10382024,12176380,15:08:32,15:28:50,3803,1218,372,Humboldt Dr & Luis Munoz Marin Dr,534,Pulaski Rd & Madison St,member,...,41.880827,-87.726279,NaN,classic_bike,NaN,NaN,Chicago,0.0,2016-10-03,2016-10-03
10386990,12519420,10:25:42,11:11:03,2431,2721,372,Humboldt Dr & Luis Munoz Marin Dr,606,Forest Ave & Chicago Ave,casual,...,41.894071,-87.800367,NaN,classic_bike,NaN,NaN,Oak Park,0.0,2016-10-28,2016-10-28
10386991,12519417,10:25:35,11:11:03,5024,2728,372,Humboldt Dr & Luis Munoz Marin Dr,606,Forest Ave & Chicago Ave,casual,...,41.894071,-87.800367,NaN,classic_bike,NaN,NaN,Oak Park,0.0,2016-10-28,2016-10-28

In [63]:
hi4['from_station_name'].unique()

array(['Humboldt Dr & Luis Munoz Marin Dr',
       'California Ave & Augusta Blvd'], dtype=object)

In [64]:
# Humboldt Dr & Luis Munoz Marin Dr and California Ave & Augusta Blvd are the missing from_stations
# # because both entries are in Chicago, I can just skip straight to making all null/NaN values in this column = 'Chicago'

In [65]:
merged2013_2017.from_city = merged2013_2017.from_city.fillna('Chicago')

In [66]:
merged2013_2017.isnull().sum()

trip_id                     0
start_time                  0
end_time                    0
bikeid                      0
tripduration                0
from_station_id             0
from_station_name           0
to_station_id               0
to_station_name             0
usertype                    0
gender                3773227
birthyear             3772821
from_lat                    0
from_long                   0
dpcapacity               1153
to_lat                      0
to_long                     0
Unnamed: 0.2         11367373
rideable_type               0
from_city                   0
from_landmark            3934
to_city                     0
to_landmark              4095
start_date                  0
end_date                    0
dtype: int64

In [67]:
# check null values for to landmarks
hi5 = merged2013_2017[merged2013_2017['to_landmark'].isnull()]
hi5

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
6229509,6005563,19:17,19:52,3869,2123,2,Buckingham Fountain,372,Humboldt Dr & Luis Munoz Marin Dr,casual,...,41.899358,-87.696439,NaN,classic_bike,Chicago,0.0,Chicago,NaN,2015-07-03,2015-07-03
6229510,5513425,18:07,18:41,3210,2009,7,Field Blvd & South Water St,372,California Ave & Augusta Blvd,casual,...,41.899358,-87.696439,NaN,classic_bike,Chicago,0.0,Chicago,NaN,2015-06-06,2015-06-06
6229511,5513423,18:07,18:41,1920,2012,7,Field Blvd & South Water St,372,California Ave & Augusta Blvd,casual,...,41.899358,-87.696439,NaN,classic_bike,Chicago,0.0,Chicago,NaN,2015-06-06,2015-06-06
6229512,6861601,18:17,18:46,525,1743,9,Leavitt St & Archer Ave,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,41.899358,-87.696439,NaN,classic_bike,Chicago,0.0,Chicago,NaN,2015-08-12,2015-08-12
6229513,6066621,23:43,0:15,4413,1955,14,Morgan St & 18th St,372,Humboldt Dr & Luis Munoz Marin Dr,casual,...,41.899358,-87.696439,NaN,classic_bike,Chicago,163.0,Chicago,NaN,2015-07-05,2015-07-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10336717,12157867,07:33:19,07:45:27,1386,728,509,Troy St & North Ave,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,41.900146,-87.702882,NaN,classic_bike,Chicago,0.0,Chicago,NaN,2016-10-02,2016-10-02
10336718,12914398,08:13:18,08:37:41,2409,1463,510,Spaulding Ave & Division St,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,41.900146,-87.702882,NaN,classic_bike,Chicago,0.0,Chicago,NaN,2016-12-12,2016-12-12
10336719,12345688,18:51:56,18:56:04,4051,248,510,Spaulding Ave & Division St,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,41.900146,-87.702882,NaN,classic_bike,Chicago,0.0,Chicago,NaN,2016-10-14,2016-10-14
10336720,12206172,10:50:07,11:06:34,5338,987,511,Albany Ave & Bloomingdale Ave,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,41.900146,-87.702882,NaN,classic_bike,Chicago,0.0,Chicago,NaN,2016-10-05,2016-10-05
10336721,12411746,11:05:13,11:30:51,4102,1538,518,Conservatory Dr & Lake St,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,41.900146,-87.702882,NaN,classic_bike,Chicago,0.0,Chicago,NaN,2016-10-19,2016-10-19

In [68]:
hi5['to_station_name'].unique()

array(['Humboldt Dr & Luis Munoz Marin Dr',
       'California Ave & Augusta Blvd'], dtype=object)

In [69]:
# Humboldt Dr & Luis Munoz Marin Dr and California Ave & Augusta Blvd are the missing landmarks
# because both entries are not listed, I will assign the value = 0
merged2013_2017.from_landmark = merged2013_2017.from_landmark.fillna(0)
merged2013_2017.to_landmark = merged2013_2017.to_landmark.fillna(0)

In [70]:
merged2013_2017.isnull().sum()

trip_id                     0
start_time                  0
end_time                    0
bikeid                      0
tripduration                0
from_station_id             0
from_station_name           0
to_station_id               0
to_station_name             0
usertype                    0
gender                3773227
birthyear             3772821
from_lat                    0
from_long                   0
dpcapacity               1153
to_lat                      0
to_long                     0
Unnamed: 0.2         11367373
rideable_type               0
from_city                   0
from_landmark               0
to_city                     0
to_landmark                 0
start_date                  0
end_date                    0
dtype: int64

In [71]:
# check null values for dpcapacity
hi6 = merged2013_2017[merged2013_2017['dpcapacity'].isnull()]
hi6

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
3228260,7238946,20:37,20:54,4802,998,394,Clark St & 9th St (AMLI),2,Buckingham Fountain,member,...,41.872293,-87.624091,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-01,2015-09-01
3228261,7238945,20:37,20:54,2921,986,394,Clark St & 9th St (AMLI),2,Buckingham Fountain,member,...,41.872293,-87.624091,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-01,2015-09-01
3228262,8053270,10:57,11:17,521,1205,394,Clark St & 9th St (AMLI),2,Buckingham Fountain,casual,...,41.872293,-87.624091,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-10-23,2015-10-23
3228263,8053266,10:56,11:17,2472,1267,394,Clark St & 9th St (AMLI),2,Buckingham Fountain,casual,...,41.872293,-87.624091,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-10-23,2015-10-23
3228264,7767859,16:25,16:32,1577,454,394,Clark St & 9th St (AMLI),2,Buckingham Fountain,member,...,41.872293,-87.624091,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-10-02,2015-10-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6258102,7426789,17:53,18:09,2841,985,394,Clark St & 9th St (AMLI),414,Canal St & Taylor St,casual,...,41.853661,-87.635135,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-12,2015-09-12
6258103,8510176,13:57,14:07,3624,545,394,Clark St & 9th St (AMLI),414,Canal St & Taylor St,member,...,41.853661,-87.635135,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-12-20,2015-12-20
6258104,8496041,12:52,13:01,1150,495,394,Clark St & 9th St (AMLI),414,Canal St & Taylor St,member,...,41.853661,-87.635135,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-12-17,2015-12-17
6270683,7499451,18:03,18:50,3843,2852,394,Clark St & 9th St (AMLI),420,Ellis Ave & 55th St,member,...,41.794301,-87.601450,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-16,2015-09-16
6291552,7708935,16:04,16:26,3822,1349,394,Clark St & 9th St (AMLI),434,Ogden Ave & Roosevelt Rd,member,...,41.866501,-87.684697,NaN,classic_bike,Chicago,0.0,Chicago,0.0,2015-09-28,2015-09-28

In [72]:
# now I will sort by start_time and then sort by start_date, and hope this works the way it should
# sort by start_time first, because this will put all the times in order. Then, when we sort by start_date,
# the time will already be sorted and we don't have to do some weird inter-date group sorting.

merged2013_2017 = merged2013_2017.sort_values(by=['start_time','start_date'])
merged2013_2017

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
236387,9651,00:00,00:09,478,487,34,Cannon Dr & Fullerton Ave,67,Sheffield Ave & Fullerton Ave,casual,...,41.925602,-87.653708,NaN,classic_bike,Chicago,124.0,Chicago,60.0,2013-06-30,2013-06-30
218927,19385,00:00,00:06,893,359,20,Sheffield Ave & Kingsbury St,60,Dayton St & North Ave,member,...,41.910578,-87.649422,NaN,classic_bike,Chicago,154.0,Chicago,58.0,2013-07-03,2013-07-03
382379,29952,00:00,00:27,311,1623,59,Wabash Ave & Roosevelt Rd,97,Museum Campus,casual,...,41.865212,-87.617759,NaN,classic_bike,Chicago,31.0,Chicago,29.0,2013-07-06,2013-07-06
281379,37222,00:00,00:44,420,2639,76,Lake Shore Dr & Monroe St,76,Lake Shore Dr & Monroe St,casual,...,41.881050,-87.616970,NaN,classic_bike,Chicago,300.0,Chicago,300.0,2013-07-08,2013-07-08
29834,59638,00:00,00:25,187,1479,27,Larrabee St & North Ave,24,Fairbanks Ct & Grand Ave,casual,...,41.891860,-87.620620,NaN,classic_bike,Chicago,174.0,Chicago,262.0,2013-07-14,2013-07-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13355696,17528056,9:59,10:04,1171,326,346,Ada St & Washington Blvd,198,Green St & Madison St,member,...,41.881892,-87.648789,NaN,classic_bike,Chicago,353.0,Chicago,159.0,2017-12-26,2017-12-26
13322196,17531658,9:59,10:07,4710,446,39,Wabash Ave & Adams St,195,Columbus Dr & Randolph St,member,...,41.884728,-87.619521,NaN,classic_bike,Chicago,0.0,Chicago,263.0,2017-12-28,2017-12-28
13326734,17531657,9:59,10:10,5932,672,110,Dearborn St & Erie St,195,Columbus Dr & Randolph St,member,...,41.884728,-87.619521,NaN,classic_bike,Chicago,45.0,Chicago,263.0,2017-12-28,2017-12-28
13350384,17535685,9:59,10:06,6449,413,84,Milwaukee Ave & Grand Ave,198,Green St & Madison St,member,...,41.881892,-87.648789,NaN,classic_bike,Chicago,33.0,Chicago,159.0,2017-12-31,2017-12-31
13936490,17535686,9:59,10:13,2898,818,249,Montrose Harbor,334,Lake Shore Dr & Belmont Ave,member,...,41.940775,-87.639192,NaN,classic_bike,Chicago,388.0,Chicago,233.0,2017-12-31,2017-12-31

In [73]:
# making sure that all time values are included in the manner that I wanted:

merged2013_2017.loc[merged2013_2017['trip_id'] == 17534545]

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
14219023,17534545,21:11,21:29,2928,1046,287,Franklin St & Monroe St,626,Delano Ct & Roosevelt Rd,member,...,41.867491,-87.63219,NaN,classic_bike,Chicago,57.0,Chicago,0.0,2017-12-29,2017-12-29

In [74]:
# making sure that all time values are included in the manner that I wanted:
# sorted(merged2013_2017['start_time'].unique(),reverse=True)

In [75]:
# need to figure out why null values for geneder and null values for birthyear are different

In [76]:
merged2013_2017.isnull().sum()

trip_id                     0
start_time                  0
end_time                    0
bikeid                      0
tripduration                0
from_station_id             0
from_station_name           0
to_station_id               0
to_station_name             0
usertype                    0
gender                3773227
birthyear             3772821
from_lat                    0
from_long                   0
dpcapacity               1153
to_lat                      0
to_long                     0
Unnamed: 0.2         11367373
rideable_type               0
from_city                   0
from_landmark               0
to_city                     0
to_landmark                 0
start_date                  0
end_date                    0
dtype: int64

In [77]:
merged2013_2017[merged2013_2017['dpcapacity'].isnull()]

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,to_lat,to_long,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date
3277344,7665883,10:00,10:04,2800,254,394,Clark St & 9th St (AMLI),5,State St & Harrison St,member,...,41.874053,-87.627716,NaN,classic_bike,Chicago,0.0,Chicago,30.0,2015-09-26,2015-09-26
5260596,8038709,10:00,10:18,4053,1045,394,Clark St & 9th St (AMLI),211,St. Clair St & Erie St,member,...,41.894448,-87.622663,NaN,classic_bike,Chicago,0.0,Chicago,16.0,2015-10-22,2015-10-22
5260590,8257620,10:01,10:16,4669,870,394,Clark St & 9th St (AMLI),211,St. Clair St & Erie St,member,...,41.894448,-87.622663,NaN,classic_bike,Chicago,0.0,Chicago,16.0,2015-11-11,2015-11-11
3608538,8310140,10:01,10:09,767,439,394,Clark St & 9th St (AMLI),37,Dearborn St & Adams St,member,...,41.879356,-87.629791,NaN,classic_bike,Chicago,0.0,Chicago,20.0,2015-11-17,2015-11-17
4659348,7806836,10:02,10:15,2529,799,394,Clark St & 9th St (AMLI),134,Peoria St & Jackson Blvd,member,...,41.877749,-87.649633,NaN,classic_bike,Chicago,0.0,Chicago,158.0,2015-10-06,2015-10-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5040625,8463271,9:56,10:08,2557,707,394,Clark St & 9th St (AMLI),181,LaSalle St & Illinois St,member,...,41.890749,-87.632060,NaN,classic_bike,Chicago,0.0,Chicago,430.0,2015-12-12,2015-12-12
3761253,7417642,9:57,10:12,4832,912,394,Clark St & 9th St (AMLI),49,Dearborn St & Monroe St,casual,...,41.881320,-87.629521,NaN,classic_bike,Chicago,0.0,Chicago,49.0,2015-09-12,2015-09-12
4346546,8038683,9:57,10:24,1659,1575,394,Clark St & 9th St (AMLI),97,Museum Campus,casual,...,41.865212,-87.617759,NaN,classic_bike,Chicago,0.0,Chicago,29.0,2015-10-22,2015-10-22
5260586,8429344,9:57,10:12,2468,879,394,Clark St & 9th St (AMLI),211,St. Clair St & Erie St,member,...,41.894448,-87.622663,NaN,classic_bike,Chicago,0.0,Chicago,16.0,2015-12-08,2015-12-08
5260587,8380961,9:58,10:14,1248,924,394,Clark St & 9th St (AMLI),211,St. Clair St & Erie St,member,...,41.894448,-87.622663,NaN,classic_bike,Chicago,0.0,Chicago,16.0,2015-12-01,2015-12-01

In [78]:
from_dpcapacity = stations.drop(['name', 'latitude', 'longitude', 'landmark', 'city'], axis=1)

In [79]:
from_dpcapacity = from_dpcapacity.rename(columns={'id' : 'from_station_id', 'dpcapacity' : 'from_dpcapacity'})

In [80]:
to_dpcapacity = stations.drop(['name', 'latitude', 'longitude', 'landmark', 'city'], axis=1)

In [81]:
to_dpcapacity = from_dpcapacity.rename(columns={'from_station_id' : 'to_station_id', 'from_dpcapacity' : 'to_dpcapacity'})

In [82]:
edit = merged2013_2017.drop('dpcapacity', axis=1)

In [83]:
fixed1 = pd.merge(edit, from_dpcapacity, on='from_station_id', how='left')

In [84]:
fixed1.columns

Index(['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'usertype', 'gender', 'birthyear', 'from_lat',
       'from_long', 'to_lat', 'to_long', 'Unnamed: 0.2', 'rideable_type',
       'from_city', 'from_landmark', 'to_city', 'to_landmark', 'start_date',
       'end_date', 'from_dpcapacity'],
      dtype='object')

In [85]:
to_dpcapacity

     to_station_id  to_dpcapacity
0                5             19
1               13             19
2               14             15
3               15             15
4               16             15
..             ...            ...
581            622              0
582            623             23
583            624             16
584            625             15
585            626             19

[586 rows x 2 columns]

In [86]:
fixed2 = pd.merge(fixed1, to_dpcapacity,on='to_station_id',how='left')

In [87]:
fixed2.isnull().sum()

trip_id                     0
start_time                  0
end_time                    0
bikeid                      0
tripduration                0
from_station_id             0
from_station_name           0
to_station_id               0
to_station_name             0
usertype                    0
gender                3773227
birthyear             3772821
from_lat                    0
from_long                   0
to_lat                      0
to_long                     0
Unnamed: 0.2         11367373
rideable_type               0
from_city                   0
from_landmark               0
to_city                     0
to_landmark                 0
start_date                  0
end_date                    0
from_dpcapacity             0
to_dpcapacity               0
dtype: int64

In [88]:
merged2013_2017 = fixed2

In [89]:
# I will make all the null values 0's and go through them conditionally. gender and birthyear should be the same

In [90]:
merged2013_2017 = merged2013_2017.fillna(0)
merged2013_2017

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date,from_dpcapacity,to_dpcapacity
0,9651,00:00,00:09,478,487,34,Cannon Dr & Fullerton Ave,67,Sheffield Ave & Fullerton Ave,casual,...,0.0,classic_bike,Chicago,124.0,Chicago,60.0,2013-06-30,2013-06-30,15,15
1,19385,00:00,00:06,893,359,20,Sheffield Ave & Kingsbury St,60,Dayton St & North Ave,member,...,0.0,classic_bike,Chicago,154.0,Chicago,58.0,2013-07-03,2013-07-03,15,19
2,29952,00:00,00:27,311,1623,59,Wabash Ave & Roosevelt Rd,97,Museum Campus,casual,...,0.0,classic_bike,Chicago,31.0,Chicago,29.0,2013-07-06,2013-07-06,19,19
3,37222,00:00,00:44,420,2639,76,Lake Shore Dr & Monroe St,76,Lake Shore Dr & Monroe St,casual,...,0.0,classic_bike,Chicago,300.0,Chicago,300.0,2013-07-08,2013-07-08,11,11
4,59638,00:00,00:25,187,1479,27,Larrabee St & North Ave,24,Fairbanks Ct & Grand Ave,casual,...,0.0,classic_bike,Chicago,174.0,Chicago,262.0,2013-07-14,2013-07-14,19,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13822002,17528056,9:59,10:04,1171,326,346,Ada St & Washington Blvd,198,Green St & Madison St,member,...,0.0,classic_bike,Chicago,353.0,Chicago,159.0,2017-12-26,2017-12-26,15,19
13822003,17531658,9:59,10:07,4710,446,39,Wabash Ave & Adams St,195,Columbus Dr & Randolph St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,263.0,2017-12-28,2017-12-28,23,23
13822004,17531657,9:59,10:10,5932,672,110,Dearborn St & Erie St,195,Columbus Dr & Randolph St,member,...,0.0,classic_bike,Chicago,45.0,Chicago,263.0,2017-12-28,2017-12-28,23,23
13822005,17535685,9:59,10:06,6449,413,84,Milwaukee Ave & Grand Ave,198,Green St & Madison St,member,...,0.0,classic_bike,Chicago,33.0,Chicago,159.0,2017-12-31,2017-12-31,19,19
13822006,17535686,9:59,10:13,2898,818,249,Montrose Harbor,334,Lake Shore Dr & Belmont Ave,member,...,0.0,classic_bike,Chicago,388.0,Chicago,233.0,2017-12-31,2017-12-31,15,19

In [91]:
# Will check for rows that have one or the other as 0 (between gender and birthyear) because casual should have 0,0 and member should have non-0 values
# all values that don't pass thhis test will be deleted
index = merged2013_2017[(merged2013_2017['gender'] == 0.0) & (merged2013_2017['birthyear'] != 0.0)].index
merged2013_2017.drop(index, inplace=True)

In [92]:
index

Int64Index([   48581,    53031,    62485,   119241,   125928,   126299,
              128082,   371102,   435013,   444902,
            ...
            13708256, 13708829, 13716191, 13725448, 13751620, 13761382,
            13798809, 13806379, 13811268, 13820241],
           dtype='int64', length=872)

In [93]:
merged2013_2017

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date,from_dpcapacity,to_dpcapacity
0,9651,00:00,00:09,478,487,34,Cannon Dr & Fullerton Ave,67,Sheffield Ave & Fullerton Ave,casual,...,0.0,classic_bike,Chicago,124.0,Chicago,60.0,2013-06-30,2013-06-30,15,15
1,19385,00:00,00:06,893,359,20,Sheffield Ave & Kingsbury St,60,Dayton St & North Ave,member,...,0.0,classic_bike,Chicago,154.0,Chicago,58.0,2013-07-03,2013-07-03,15,19
2,29952,00:00,00:27,311,1623,59,Wabash Ave & Roosevelt Rd,97,Museum Campus,casual,...,0.0,classic_bike,Chicago,31.0,Chicago,29.0,2013-07-06,2013-07-06,19,19
3,37222,00:00,00:44,420,2639,76,Lake Shore Dr & Monroe St,76,Lake Shore Dr & Monroe St,casual,...,0.0,classic_bike,Chicago,300.0,Chicago,300.0,2013-07-08,2013-07-08,11,11
4,59638,00:00,00:25,187,1479,27,Larrabee St & North Ave,24,Fairbanks Ct & Grand Ave,casual,...,0.0,classic_bike,Chicago,174.0,Chicago,262.0,2013-07-14,2013-07-14,19,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13822002,17528056,9:59,10:04,1171,326,346,Ada St & Washington Blvd,198,Green St & Madison St,member,...,0.0,classic_bike,Chicago,353.0,Chicago,159.0,2017-12-26,2017-12-26,15,19
13822003,17531658,9:59,10:07,4710,446,39,Wabash Ave & Adams St,195,Columbus Dr & Randolph St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,263.0,2017-12-28,2017-12-28,23,23
13822004,17531657,9:59,10:10,5932,672,110,Dearborn St & Erie St,195,Columbus Dr & Randolph St,member,...,0.0,classic_bike,Chicago,45.0,Chicago,263.0,2017-12-28,2017-12-28,23,23
13822005,17535685,9:59,10:06,6449,413,84,Milwaukee Ave & Grand Ave,198,Green St & Madison St,member,...,0.0,classic_bike,Chicago,33.0,Chicago,159.0,2017-12-31,2017-12-31,19,19
13822006,17535686,9:59,10:13,2898,818,249,Montrose Harbor,334,Lake Shore Dr & Belmont Ave,member,...,0.0,classic_bike,Chicago,388.0,Chicago,233.0,2017-12-31,2017-12-31,15,19

In [94]:
check = merged2013_2017

In [95]:
check

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date,from_dpcapacity,to_dpcapacity
0,9651,00:00,00:09,478,487,34,Cannon Dr & Fullerton Ave,67,Sheffield Ave & Fullerton Ave,casual,...,0.0,classic_bike,Chicago,124.0,Chicago,60.0,2013-06-30,2013-06-30,15,15
1,19385,00:00,00:06,893,359,20,Sheffield Ave & Kingsbury St,60,Dayton St & North Ave,member,...,0.0,classic_bike,Chicago,154.0,Chicago,58.0,2013-07-03,2013-07-03,15,19
2,29952,00:00,00:27,311,1623,59,Wabash Ave & Roosevelt Rd,97,Museum Campus,casual,...,0.0,classic_bike,Chicago,31.0,Chicago,29.0,2013-07-06,2013-07-06,19,19
3,37222,00:00,00:44,420,2639,76,Lake Shore Dr & Monroe St,76,Lake Shore Dr & Monroe St,casual,...,0.0,classic_bike,Chicago,300.0,Chicago,300.0,2013-07-08,2013-07-08,11,11
4,59638,00:00,00:25,187,1479,27,Larrabee St & North Ave,24,Fairbanks Ct & Grand Ave,casual,...,0.0,classic_bike,Chicago,174.0,Chicago,262.0,2013-07-14,2013-07-14,19,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13822002,17528056,9:59,10:04,1171,326,346,Ada St & Washington Blvd,198,Green St & Madison St,member,...,0.0,classic_bike,Chicago,353.0,Chicago,159.0,2017-12-26,2017-12-26,15,19
13822003,17531658,9:59,10:07,4710,446,39,Wabash Ave & Adams St,195,Columbus Dr & Randolph St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,263.0,2017-12-28,2017-12-28,23,23
13822004,17531657,9:59,10:10,5932,672,110,Dearborn St & Erie St,195,Columbus Dr & Randolph St,member,...,0.0,classic_bike,Chicago,45.0,Chicago,263.0,2017-12-28,2017-12-28,23,23
13822005,17535685,9:59,10:06,6449,413,84,Milwaukee Ave & Grand Ave,198,Green St & Madison St,member,...,0.0,classic_bike,Chicago,33.0,Chicago,159.0,2017-12-31,2017-12-31,19,19
13822006,17535686,9:59,10:13,2898,818,249,Montrose Harbor,334,Lake Shore Dr & Belmont Ave,member,...,0.0,classic_bike,Chicago,388.0,Chicago,233.0,2017-12-31,2017-12-31,15,19

In [96]:
index2 = check[(check['gender'] == 0.0) & (check['birthyear'] != 0.0)].index

In [97]:
index2

Int64Index([], dtype='int64')

In [98]:
index3 = merged2013_2017[(merged2013_2017['gender'] != 0.0) & (merged2013_2017['birthyear'] == 0.0)].index

In [99]:
index3

Int64Index([  760294,   800528,   974711,  1221903,  1237342,  1302284,
             1334010,  1354512,  1365336,  1389978,
            ...
            13651150, 13656501, 13666831, 13672122, 13691820, 13702019,
            13707004, 13721912, 13747383, 13782692],
           dtype='int64', length=466)

In [100]:
merged2013_2017.drop(index3, inplace=True)

In [101]:
merged2013_2017

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date,from_dpcapacity,to_dpcapacity
0,9651,00:00,00:09,478,487,34,Cannon Dr & Fullerton Ave,67,Sheffield Ave & Fullerton Ave,casual,...,0.0,classic_bike,Chicago,124.0,Chicago,60.0,2013-06-30,2013-06-30,15,15
1,19385,00:00,00:06,893,359,20,Sheffield Ave & Kingsbury St,60,Dayton St & North Ave,member,...,0.0,classic_bike,Chicago,154.0,Chicago,58.0,2013-07-03,2013-07-03,15,19
2,29952,00:00,00:27,311,1623,59,Wabash Ave & Roosevelt Rd,97,Museum Campus,casual,...,0.0,classic_bike,Chicago,31.0,Chicago,29.0,2013-07-06,2013-07-06,19,19
3,37222,00:00,00:44,420,2639,76,Lake Shore Dr & Monroe St,76,Lake Shore Dr & Monroe St,casual,...,0.0,classic_bike,Chicago,300.0,Chicago,300.0,2013-07-08,2013-07-08,11,11
4,59638,00:00,00:25,187,1479,27,Larrabee St & North Ave,24,Fairbanks Ct & Grand Ave,casual,...,0.0,classic_bike,Chicago,174.0,Chicago,262.0,2013-07-14,2013-07-14,19,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13822002,17528056,9:59,10:04,1171,326,346,Ada St & Washington Blvd,198,Green St & Madison St,member,...,0.0,classic_bike,Chicago,353.0,Chicago,159.0,2017-12-26,2017-12-26,15,19
13822003,17531658,9:59,10:07,4710,446,39,Wabash Ave & Adams St,195,Columbus Dr & Randolph St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,263.0,2017-12-28,2017-12-28,23,23
13822004,17531657,9:59,10:10,5932,672,110,Dearborn St & Erie St,195,Columbus Dr & Randolph St,member,...,0.0,classic_bike,Chicago,45.0,Chicago,263.0,2017-12-28,2017-12-28,23,23
13822005,17535685,9:59,10:06,6449,413,84,Milwaukee Ave & Grand Ave,198,Green St & Madison St,member,...,0.0,classic_bike,Chicago,33.0,Chicago,159.0,2017-12-31,2017-12-31,19,19
13822006,17535686,9:59,10:13,2898,818,249,Montrose Harbor,334,Lake Shore Dr & Belmont Ave,member,...,0.0,classic_bike,Chicago,388.0,Chicago,233.0,2017-12-31,2017-12-31,15,19

In [102]:
merged2013_2017.isnull().sum()

trip_id              0
start_time           0
end_time             0
bikeid               0
tripduration         0
from_station_id      0
from_station_name    0
to_station_id        0
to_station_name      0
usertype             0
gender               0
birthyear            0
from_lat             0
from_long            0
to_lat               0
to_long              0
Unnamed: 0.2         0
rideable_type        0
from_city            0
from_landmark        0
to_city              0
to_landmark          0
start_date           0
end_date             0
from_dpcapacity      0
to_dpcapacity        0
dtype: int64

In [103]:
merged2013_2017[(merged2013_2017['gender'] == 0.0) & (merged2013_2017['birthyear'] == 0.0)].count()

trip_id              3772355
start_time           3772355
end_time             3772355
bikeid               3772355
tripduration         3772355
from_station_id      3772355
from_station_name    3772355
to_station_id        3772355
to_station_name      3772355
usertype             3772355
gender               3772355
birthyear            3772355
from_lat             3772355
from_long            3772355
to_lat               3772355
to_long              3772355
Unnamed: 0.2         3772355
rideable_type        3772355
from_city            3772355
from_landmark        3772355
to_city              3772355
to_landmark          3772355
start_date           3772355
end_date             3772355
from_dpcapacity      3772355
to_dpcapacity        3772355
dtype: int64

In [104]:
merged2013_2017[(merged2013_2017['gender'] != 0.0) & (merged2013_2017['birthyear'] != 0.0)].count()

trip_id              10048314
start_time           10048314
end_time             10048314
bikeid               10048314
tripduration         10048314
from_station_id      10048314
from_station_name    10048314
to_station_id        10048314
to_station_name      10048314
usertype             10048314
gender               10048314
birthyear            10048314
from_lat             10048314
from_long            10048314
to_lat               10048314
to_long              10048314
Unnamed: 0.2         10048314
rideable_type        10048314
from_city            10048314
from_landmark        10048314
to_city              10048314
to_landmark          10048314
start_date           10048314
end_date             10048314
from_dpcapacity      10048314
to_dpcapacity        10048314
dtype: int64

In [105]:
merged2013_2017.shape

(13820669, 26)

In [106]:
3702806 + 9679943 == merged2013_2017.shape[0]

False

In [107]:
# this means that we now deleted all entries with mixed values, 
# only valid member entries with dates entered for birthyear and gender = 'male' or 'female' string values are in our database.

# only valid casual entries remain: birthyear = 0 , gender = 0

# Now I have to decide what to do with my binary variable gender. I will make it 0 for female and 1 for male.
# I will also make it -1 for entries where gender is undefined.
# Birthyear I will keep as 0.

In [108]:
merged2013_2017.columns

Index(['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'usertype', 'gender', 'birthyear', 'from_lat',
       'from_long', 'to_lat', 'to_long', 'Unnamed: 0.2', 'rideable_type',
       'from_city', 'from_landmark', 'to_city', 'to_landmark', 'start_date',
       'end_date', 'from_dpcapacity', 'to_dpcapacity'],
      dtype='object')

In [109]:
merged2013_2017.loc[merged2013_2017['from_station_name'] == 'Humboldt Dr & Luis Munoz Marin Dr']

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date,from_dpcapacity,to_dpcapacity
1242,10804004,00:01:12,00:09:02,5877,471,372,Humboldt Dr & Luis Munoz Marin Dr,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,0.0,classic_bike,Chicago,0.0,Chicago,0.0,2016-07-19,2016-07-19,19,19
11174,11941252,00:12:06,00:28:52,2398,1006,372,Humboldt Dr & Luis Munoz Marin Dr,216,California Ave & Division St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,256.0,2016-09-18,2016-09-18,19,15
29119,11007855,00:36:02,00:52:31,1137,989,372,Humboldt Dr & Luis Munoz Marin Dr,510,Spaulding Ave & Division St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,0.0,2016-07-30,2016-07-30,19,15
46582,10863681,01:06:40,01:23:32,2066,1012,372,Humboldt Dr & Luis Munoz Marin Dr,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,0.0,classic_bike,Chicago,0.0,Chicago,0.0,2016-07-22,2016-07-22,19,19
55082,10863690,01:24:59,01:44:23,2066,1165,372,Humboldt Dr & Luis Munoz Marin Dr,216,California Ave & Division St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,256.0,2016-07-22,2016-07-22,19,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13806177,8652641,9:56,10:19,1455,1375,372,Humboldt Dr & Luis Munoz Marin Dr,134,Peoria St & Jackson Blvd,member,...,0.0,classic_bike,Chicago,0.0,Chicago,158.0,2016-01-27,2016-01-27,19,19
13806645,9604084,9:56,10:19,2744,1418,372,Humboldt Dr & Luis Munoz Marin Dr,134,Peoria St & Jackson Blvd,member,...,0.0,classic_bike,Chicago,0.0,Chicago,158.0,2016-05-19,2016-05-19,19,19
13811052,8741548,9:57,9:58,3643,61,372,Humboldt Dr & Luis Munoz Marin Dr,372,Humboldt Dr & Luis Munoz Marin Dr,member,...,0.0,classic_bike,Chicago,0.0,Chicago,0.0,2016-02-13,2016-02-13,19,19
13811213,9020035,9:57,10:13,385,973,372,Humboldt Dr & Luis Munoz Marin Dr,377,Kedzie Ave & Lake St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,0.0,2016-03-25,2016-03-25,19,19
13811710,10008250,9:57,10:12,4449,928,372,Humboldt Dr & Luis Munoz Marin Dr,511,Albany Ave & Bloomingdale Ave,member,...,0.0,classic_bike,Chicago,0.0,Chicago,0.0,2016-06-10,2016-06-10,19,15

In [110]:
merged2013_2017.loc[merged2013_2017['from_station_name'] == 'California Ave & Augusta Blvd']

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date,from_dpcapacity,to_dpcapacity
1325790,5176249,0:00,0:13,3521,822,372,California Ave & Augusta Blvd,116,Western Ave & Winnebago Ave,member,...,0.0,classic_bike,Chicago,0.0,Chicago,68.0,2015-05-16,2015-05-16,19,15
1325791,5176247,0:00,0:13,2496,837,372,California Ave & Augusta Blvd,116,Western Ave & Winnebago Ave,member,...,0.0,classic_bike,Chicago,0.0,Chicago,68.0,2015-05-16,2015-05-16,19,15
1330677,5034367,0:04,0:06,3765,110,372,California Ave & Augusta Blvd,216,California Ave & Division St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,256.0,2015-05-03,2015-05-03,19,15
1330702,5226325,0:04,0:12,2845,483,372,California Ave & Augusta Blvd,30,Ashland Ave & Augusta Blvd,member,...,0.0,classic_bike,Chicago,0.0,Chicago,248.0,2015-05-19,2015-05-19,19,15
1339332,5302639,0:11,0:19,1646,474,372,California Ave & Augusta Blvd,315,Leavitt St & Hirsch St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,255.0,2015-05-24,2015-05-24,19,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13780211,5612048,9:51,9:59,1699,468,372,California Ave & Augusta Blvd,128,Damen Ave & Chicago Ave,member,...,0.0,classic_bike,Chicago,0.0,Chicago,132.0,2015-06-13,2015-06-13,19,15
13790028,5547822,9:53,10:21,1196,1656,372,California Ave & Augusta Blvd,49,Dearborn St & Monroe St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,49.0,2015-06-09,2015-06-09,19,23
13794792,5241851,9:54,10:18,3998,1452,372,California Ave & Augusta Blvd,181,LaSalle St & Illinois St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,430.0,2015-05-20,2015-05-20,19,19
13804388,5019646,9:56,13:45,3552,13710,372,California Ave & Augusta Blvd,372,California Ave & Augusta Blvd,casual,...,0.0,classic_bike,Chicago,0.0,Chicago,0.0,2015-05-02,2015-05-02,19,19
13804602,5498719,9:56,10:20,3298,1438,372,California Ave & Augusta Blvd,372,California Ave & Augusta Blvd,casual,...,0.0,classic_bike,Chicago,0.0,Chicago,0.0,2015-06-06,2015-06-06,19,19

In [111]:
# finding the first value for station id that isn't in our array of current station names, because I need to re-assign it to one
# of the stations, as we cannot leave the ids as 372
i = 300
while True:
    if i in merged2013_2017['from_station_id'].values:
        i += 1
    else:
        print(i)
        break
# I will now assign this to California Ave and Augusta Blvd because there are less entries by this name

357

In [112]:
# if from_station_name == 'California Ave & Augusta Blvd', from_station_id = 357
# if to_station_name == 'California Ave & Augusta Blvd' , tostation_id = 357

merged2013_2017.loc[(merged2013_2017.from_station_name == 'California Ave & Augusta Blvd'),'from_station_id'] = 357
merged2013_2017.loc[(merged2013_2017.to_station_name == 'California Ave & Augusta Blvd'),'to_station_id'] = 357

In [113]:
merged2013_2017.loc[merged2013_2017['from_station_name'] == 'California Ave & Augusta Blvd']

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date,from_dpcapacity,to_dpcapacity
1325790,5176249,0:00,0:13,3521,822,357,California Ave & Augusta Blvd,116,Western Ave & Winnebago Ave,member,...,0.0,classic_bike,Chicago,0.0,Chicago,68.0,2015-05-16,2015-05-16,19,15
1325791,5176247,0:00,0:13,2496,837,357,California Ave & Augusta Blvd,116,Western Ave & Winnebago Ave,member,...,0.0,classic_bike,Chicago,0.0,Chicago,68.0,2015-05-16,2015-05-16,19,15
1330677,5034367,0:04,0:06,3765,110,357,California Ave & Augusta Blvd,216,California Ave & Division St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,256.0,2015-05-03,2015-05-03,19,15
1330702,5226325,0:04,0:12,2845,483,357,California Ave & Augusta Blvd,30,Ashland Ave & Augusta Blvd,member,...,0.0,classic_bike,Chicago,0.0,Chicago,248.0,2015-05-19,2015-05-19,19,15
1339332,5302639,0:11,0:19,1646,474,357,California Ave & Augusta Blvd,315,Leavitt St & Hirsch St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,255.0,2015-05-24,2015-05-24,19,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13780211,5612048,9:51,9:59,1699,468,357,California Ave & Augusta Blvd,128,Damen Ave & Chicago Ave,member,...,0.0,classic_bike,Chicago,0.0,Chicago,132.0,2015-06-13,2015-06-13,19,15
13790028,5547822,9:53,10:21,1196,1656,357,California Ave & Augusta Blvd,49,Dearborn St & Monroe St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,49.0,2015-06-09,2015-06-09,19,23
13794792,5241851,9:54,10:18,3998,1452,357,California Ave & Augusta Blvd,181,LaSalle St & Illinois St,member,...,0.0,classic_bike,Chicago,0.0,Chicago,430.0,2015-05-20,2015-05-20,19,19
13804388,5019646,9:56,13:45,3552,13710,357,California Ave & Augusta Blvd,357,California Ave & Augusta Blvd,casual,...,0.0,classic_bike,Chicago,0.0,Chicago,0.0,2015-05-02,2015-05-02,19,19
13804602,5498719,9:56,10:20,3298,1438,357,California Ave & Augusta Blvd,357,California Ave & Augusta Blvd,casual,...,0.0,classic_bike,Chicago,0.0,Chicago,0.0,2015-06-06,2015-06-06,19,19

In [114]:
merged2013_2017.loc[merged2013_2017['to_station_name'] == 'California Ave & Augusta Blvd']

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,Unnamed: 0.2,rideable_type,from_city,from_landmark,to_city,to_landmark,start_date,end_date,from_dpcapacity,to_dpcapacity
1325782,5094175,0:00,0:25,426,1483,61,Wood St & Milwaukee Ave,357,California Ave & Augusta Blvd,member,...,0.0,classic_bike,Chicago,221.0,Chicago,0.0,2015-05-08,2015-05-08,15,19
1328296,5655493,0:02,0:21,4613,1140,134,Peoria St & Jackson Blvd,357,California Ave & Augusta Blvd,member,...,0.0,classic_bike,Chicago,158.0,Chicago,0.0,2015-06-16,2015-06-16,19,19
1328312,5807099,0:02,0:21,3133,1179,134,Peoria St & Jackson Blvd,357,California Ave & Augusta Blvd,member,...,0.0,classic_bike,Chicago,158.0,Chicago,0.0,2015-06-24,2015-06-24,19,19
1329562,5784211,0:03,0:24,3769,1243,134,Peoria St & Jackson Blvd,357,California Ave & Augusta Blvd,member,...,0.0,classic_bike,Chicago,158.0,Chicago,0.0,2015-06-23,2015-06-23,19,19
1332030,5645987,0:05,0:26,544,1274,138,Clybourn Ave & Division St,357,California Ave & Augusta Blvd,member,...,0.0,classic_bike,Chicago,171.0,Chicago,0.0,2015-06-15,2015-06-15,15,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13804600,5498718,9:56,10:16,3131,1228,309,Leavitt St & Armitage Ave,357,California Ave & Augusta Blvd,casual,...,0.0,classic_bike,Chicago,286.0,Chicago,0.0,2015-06-06,2015-06-06,11,19
13804601,5498715,9:56,10:16,2483,1216,309,Leavitt St & Armitage Ave,357,California Ave & Augusta Blvd,casual,...,0.0,classic_bike,Chicago,286.0,Chicago,0.0,2015-06-06,2015-06-06,11,19
13804602,5498719,9:56,10:20,3298,1438,357,California Ave & Augusta Blvd,357,California Ave & Augusta Blvd,casual,...,0.0,classic_bike,Chicago,0.0,Chicago,0.0,2015-06-06,2015-06-06,19,19
13819191,5498758,9:59,10:16,4642,1057,309,Leavitt St & Armitage Ave,357,California Ave & Augusta Blvd,casual,...,0.0,classic_bike,Chicago,286.0,Chicago,0.0,2015-06-06,2015-06-06,11,19
13819192,5498757,9:59,10:16,758,1062,309,Leavitt St & Armitage Ave,357,California Ave & Augusta Blvd,casual,...,0.0,classic_bike,Chicago,286.0,Chicago,0.0,2015-06-06,2015-06-06,11,19

In [115]:
merged2013_2017.isnull().sum()

trip_id              0
start_time           0
end_time             0
bikeid               0
tripduration         0
from_station_id      0
from_station_name    0
to_station_id        0
to_station_name      0
usertype             0
gender               0
birthyear            0
from_lat             0
from_long            0
to_lat               0
to_long              0
Unnamed: 0.2         0
rideable_type        0
from_city            0
from_landmark        0
to_city              0
to_landmark          0
start_date           0
end_date             0
from_dpcapacity      0
to_dpcapacity        0
dtype: int64

In [116]:
# Now we have to look for 'test', 'base', 'HQ', and 'repair'

In [117]:
merged2013_2017[merged2013_2017['from_station_name'].str.lower().str.contains('test', regex=False, na=False) == True]

Empty DataFrame
Columns: [trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear, from_lat, from_long, to_lat, to_long, Unnamed: 0.2, rideable_type, from_city, from_landmark, to_city, to_landmark, start_date, end_date, from_dpcapacity, to_dpcapacity]
Index: []

[0 rows x 26 columns]

In [118]:
merged2013_2017[merged2013_2017['from_station_name'].str.lower().str.contains('base', regex=False, na=False) == True]

Empty DataFrame
Columns: [trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear, from_lat, from_long, to_lat, to_long, Unnamed: 0.2, rideable_type, from_city, from_landmark, to_city, to_landmark, start_date, end_date, from_dpcapacity, to_dpcapacity]
Index: []

[0 rows x 26 columns]

In [119]:
merged2013_2017[merged2013_2017['from_station_name'].str.lower().str.contains('repair', regex=False, na=False) == True]

Empty DataFrame
Columns: [trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear, from_lat, from_long, to_lat, to_long, Unnamed: 0.2, rideable_type, from_city, from_landmark, to_city, to_landmark, start_date, end_date, from_dpcapacity, to_dpcapacity]
Index: []

[0 rows x 26 columns]

In [120]:
merged2013_2017[merged2013_2017['from_station_name'].str.lower().str.contains('HQ', regex=False, na=False) == True]

Empty DataFrame
Columns: [trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear, from_lat, from_long, to_lat, to_long, Unnamed: 0.2, rideable_type, from_city, from_landmark, to_city, to_landmark, start_date, end_date, from_dpcapacity, to_dpcapacity]
Index: []

[0 rows x 26 columns]

In [121]:
merged2013_2017[merged2013_2017['to_station_name'].str.lower().str.contains('test', regex=False, na=False) == True]

Empty DataFrame
Columns: [trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear, from_lat, from_long, to_lat, to_long, Unnamed: 0.2, rideable_type, from_city, from_landmark, to_city, to_landmark, start_date, end_date, from_dpcapacity, to_dpcapacity]
Index: []

[0 rows x 26 columns]

In [122]:
merged2013_2017[merged2013_2017['to_station_name'].str.lower().str.contains('base', regex=False, na=False) == True]

Empty DataFrame
Columns: [trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear, from_lat, from_long, to_lat, to_long, Unnamed: 0.2, rideable_type, from_city, from_landmark, to_city, to_landmark, start_date, end_date, from_dpcapacity, to_dpcapacity]
Index: []

[0 rows x 26 columns]

In [123]:
merged2013_2017[merged2013_2017['to_station_name'].str.lower().str.contains('repair', regex=False, na=False) == True]

Empty DataFrame
Columns: [trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear, from_lat, from_long, to_lat, to_long, Unnamed: 0.2, rideable_type, from_city, from_landmark, to_city, to_landmark, start_date, end_date, from_dpcapacity, to_dpcapacity]
Index: []

[0 rows x 26 columns]

In [124]:
merged2013_2017[merged2013_2017['to_station_name'].str.lower().str.contains('HQ', regex=False, na=False) == True]

Empty DataFrame
Columns: [trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyear, from_lat, from_long, to_lat, to_long, Unnamed: 0.2, rideable_type, from_city, from_landmark, to_city, to_landmark, start_date, end_date, from_dpcapacity, to_dpcapacity]
Index: []

[0 rows x 26 columns]

In [125]:
# This is our finished product, a Null- Free csv. Eventualy will have to adress converting all string values into numbers as
# classifiers in order to save compute time, but I am going to stick with strings for now as it makes everything much more
# easy to interpret.

# Index will be reset by virtue of writing it to a csv, so I won't do it before writing the new csv.
merged2013_2017.to_csv('merged2013_2017.csv')